<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mafia Maska</title>
	<!-- <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script> -->
</head>
<body>
<h1>Mafia Maska</h1>
	<script type="text/javascript" src="/public/js/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/angular-route/angular-route.min.js"></script>
	<!-- <script type="text/javascript" src="/public/js/lib/angular-ui-bootstrap/angular-route.min.js"></script> -->
	<script type="text/javascript" src="/public/js/lib/underscore/underscore.js"></script>
</body>
</html>
