<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Hire and Find Jobs Today | MindanaoJobs.com</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="author" content="">


  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <!-- Bootstrap core CSS -->
  <link href="public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="public/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- ionicons -->
  <link href="public/bower_components/ionicons/css/ionicons.min.css" rel="stylesheet">
  <!-- Jasny Bootstrap -->
  <link href="public/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet">
  <!-- AngularJS ui-select -->
  <link href="public/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet">
  <!-- Select2 -->
  <link href="public/bower_components/select2/select2.css" rel="stylesheet">
  <link href="public/bower_components/angular-notify/dist/angular-notify.css" rel="stylesheet">


  <!-- Mindanao Jobs -->
  <link href="public/css/style.css" rel="stylesheet">
  <link href="public/css/flatui.css" rel="stylesheet">
  <link href="public/css/parsley.css" rel="stylesheet">
  <link href="public/css/animation.css" rel="stylesheet">

</head>

<body class="overflow-hidden" ng-app="minJob">

  <!-- Overlay Div -->
  <div id="overlay" style="display:none;">
      <div class="overlay-inner">
      </div>
  </div>

  <div class="wrapper preload">
      <pi-headerlogin></pi-headerlogin>
      <div ng-show="show == 'user'">
        <pi-header></pi-header>
      </div>
      <div ng-show="show == 'employer'">
        <pi-header></pi-header>
      </div>


      <div ng-view class="fade"></div>

      <pi-footer></pi-footer>
  </div>

  <!-- Ng-File-Upload -->
  <script type="text/javascript" src="public/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>

  <!-- Angular JS -->
  <script type="text/javascript" src="public/bower_components/angular/angular.js"></script>

  <!-- Jquery -->
  <script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Angular Route -->
  <script type="text/javascript" src="public/bower_components/angular-route/angular-route.min.js"></script>

  <!-- Angular Animate -->
  <script type="text/javascript" src="public/bower_components/angular-animate/angular-animate.min.js"></script>

  <!-- Angular Resource -->
  <script type="text/javascript" src="public/bower_components/angular-resource/angular-resource.min.js"></script>

  <!-- Angular Bootstrap -->
  <script type="text/javascript" src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <!-- Jasny Bootstrap -->
  <script type="text/javascript" src="public/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>

  <!-- Ng-File-Upload -->
  <script type="text/javascript" src="public/bower_components/ng-file-upload/angular-file-upload.min.js"></script>

  <!-- AngularJS ui-select -->
  <script type="text/javascript" src="public/bower_components/angular-ui-select/dist/select.min.js"></script>

  <!-- Angular Sanitize -->
  <script type="text/javascript" src="public/bower_components/angular-sanitize/angular-sanitize.js"></script>

  <!-- Angular notify -->
  <script type="text/javascript" src="public/bower_components/angular-notify/dist/angular-notify.js"></script>


  <!-- Mindanao Jobs -->
  <script type="text/javascript" src="public/js/lib/parsley.js"></script>
  <script type="text/javascript" src="public/js/lib/mindanaojobs.js"></script>

  <script type="text/javascript" src="public/js/ng-app/app.js"></script>

  <script type="text/javascript" src="public/js/controller/controllers.js"></script>
  <script type="text/javascript" src="public/js/controller/signUpCtrl.js"></script>
  <script type="text/javascript" src="public/js/controller/userCtrl.js"></script>
  <script type="text/javascript" src="public/js/controller/loginCtrl.js"></script>
  <script type="text/javascript" src="public/js/controller/employerCtrl.js"></script>
  <script type="text/javascript" src="public/js/controller/jobCtrl.js"></script>

  <script type="text/javascript" src="public/js/services/Employerservices.js"></script>
  <script type="text/javascript" src="public/js/services/UserServices.js"></script>
  <script type="text/javascript" src="public/js/services/jobServices.js"></script>
  <script type="text/javascript" src="public/js/services/services.js"></script>

  <script type="text/javascript" src="public/js/filter/filter.js"></script>

  <script type="text/javascript" src="public/js/directives/directive.js"></script>
  <script type="text/javascript" src="public/js/directives/signupDirective.js"></script>

</body>

</html>
