<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mindanao Jobs</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="public/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="css/job-seeker-style1.css"> -->
	<link rel="stylesheet" href="public/css/main.css">
	<link rel="stylesheet" href="public/css/job-seeker-style.css">
	<link rel="stylesheet" href="public/css/job-detail.css">
	<link rel="stylesheet" href="public/css/categories.css">
	<link rel="stylesheet" href="public/css/animation.css">
	<link rel="stylesheet" href="public/css/animate.css">
</head>

<body>

	<div class="cubeEffects navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">
                    <img class="effects" src="public/images/logo.png" alt="X">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-right">
                    <form action="" method ="post" class="navbar-form">
                        <div class="form-group">
                            <input name="username" type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                        	<input type="submit" value="Sign in" class="btn btn-primary" >
                        </div>
                    </form>
                    <div class="form-group formgroup col-md-12">
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Keep me logged in
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                <li>
                                    <a href="#" class="control-label">Forget Password</a>
                                </li>
                                <li style="list-style: none">|</li>
                                <li>
                                    <a href="#" class="control-label">Sign Up</a>
                                </li>
                                <li style="list-style: none">|</li>
                                <li>
                                    <a ui-sref="home.Employerlogin" class="control-label">Employer Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>

    <!-- Content -->

    <header>
    <div class="container background">
        <div class="row">
            <div class="col-lg-4 col-md-offset-6">
                <div class="intro-text text-center">
                    <span class="name">Find your desired job here in Mindanao Jobs</span>
                    <span class="skills text-center">
                        <a ui-sref="home.Categories" class="btn btn-success">Find A Job</a>
                        <br>
                        <br>
                        <a ui-sref="home.Jobdetail" class="btn btn-success">Post A Job</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="grey">
    <div class="container-style">
        <div class="row">
            <div class="col-lg-9">
                <h4>Recent Job Post</h4>
                <table class="table borderless">
                    <tbody>
                        <tr>
                            <td>Entry Level</td>
                            <td>
                                <a href="#">
                                    <strong>Online Email Support</strong>
                                </a>
                            </td>
                            <td>Softonic</td>
                        </tr>
                        <tr>
                            <td>Entry Level</td>
                            <td>
                                <a href="#">
                                    <strong>Customer Care Specialist</strong>
                                </a>
                            </td>
                            <td>EGIS</td>
                        </tr>
                        <tr>
                            <td>Entry Level</td>
                            <td>
                                <a href="#">
                                    <strong>Account Manager - Customer Service Account</strong>
                                </a>
                            </td>
                            <td>Microso Apple</td>
                        </tr>
                        <tr>
                            <td>Entry Level</td>
                            <td>
                                <a href="#">
                                    <strong>Urgent Hiring for CALL CENTER AGENTS! Apply Now and...</strong>
                                </a>
                            </td>
                            <td>COLCENTRE</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <h4>Job Categories</h4>
                <ul class="list-unstyled">
                    <li><a href="#">All(2582)</a>
                    </li>
                    <li><a href="#">Urgent Jobs(32)</a>
                    </li>
                    <li><a href="#">Accounting / Finance(270)</a>
                    </li>
                    <li><a href="#">Admin / Office / Clerical(265)</a>
                    </li>
                    <li><a href="#">Agriculture / Veterinary(4)</a>
                    </li>
                    <li><a href="#">Airline / Airport(4)</a>
                    </li>
                    <li><a href="#">Arts / Media / Design(79)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
		<footer class="cubeEffects text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row  col-md-offset-1">
                    <div class="footer-col col-md-3 col-xs-3">
                        <h4 class="text-left">For Employers</h4>
                        <hr class="star-light">
                        <ul class="list-unstyled text-left">
                            <li><a href="#">Register for Free</a>
                            </li>
                            <li><a href="#">Post a Job Offer</a>
                            </li>
                            <li><a href="#">Search Employees</a>
                            </li>
                            <li><a href="#">Services</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3 col-xs-3">
                        <h4 class="text-left">For Employers</h4>
                        <hr class="star-light">
                        <ul class="list-unstyled text-left">
                            <li><a href="#">Register for Free</a>
                            </li>
                            <li><a href="#">Job Search</a>
                            </li>
                            <li><a href="#">Upload My Resume</a>
                            </li>
                            <li><a href="#">Spontaneous Presentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3 col-xs-3">
                        <h4 class="text-left">Support</h4>
                        <hr class="star-light">
                        <ul class="list-unstyled text-left">
                            <li><a href="#">Help</a>
                            </li>
                            <li><a href="#">FAQs</a>
                            </li>
                            <li><a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3 col-xs-3">
                        <h4 class="text-left">About Us</h4>
                        <hr class="star-light">
                        <div class="text-left left-block">
                            <a href="https://www.facebook.com/">
                                <i id="social" class="fa fa-facebook-square fa-2x fa-inverse social-fb"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i id="social" class="fa fa-twitter-square fa-2x fa-inverse social-tw"></i>
                            </a>
                            <a href="https://plus.google.com/">
                                <i id="social" class="fa fa-google-plus-square fa-2x fa-inverse social-gp"></i>
                            </a>
                            <a href="#">
                                <i id="social" class="fa fa-tumblr-square fa-2x fa-inverse social-tumblr"></i>
                            </a>
                            <a href="#">
                                <i id="social" class="fa fa-rss-square fa-2x fa-inverse social-em"></i>
                            </a>
                            <a href="#">
                                <i id="social" class="fa fa-linkedin-square fa-2x fa-inverse social-linkedin"></i>
                            </a>
                            <p class="txt-railway">Country: Philippines</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>


	<script type="text/javascript" src="public/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="public/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="public/bower_components/angularjs/angular-animate.min.js"></script>
    <script src="public/bower_components/angularjs/angular-resource.min.js"></script>
    <script src="public/bower_components/angular-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

</body>
</html>
