<div class="main-container no-bottom-space">
    <div class="section paddingT-40 section-border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="font-lato font-24">Outsource.com provides a way for small businesses and individuals to
                        <br/>
                        <span class="font-ultra-bold">Find and Work with some of the Best Freelancers Worldwide!</span>
                    </div>
                    <div class="m-top-50 m-bottom-40">
                        <img src="img/36/graphic.png" alt="">
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </div>
        <!-- ./container -->
    </div>
    <!-- section -->

    <div class="section paddingTB-40 bg-grey section-border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <img src="img/47/2.png" alt="">
                </div>
                <!-- ./col -->
                <div class="col-sm-6 text-center-xs m-top-20-xs">
                    <div class="font-21 font-semi-bold">Connect with Freelancers</div>
                    <ul class="list-style-dot line-24 m-top-5">
                        <li>Save time and money by outsourcing</li>
                        <li>Get work done quickly and efficiently</li>
                        <li>Hire freelancers with hard to find skills</li>
                        <li>Compare multiple quotes to hire the very best</li>
                    </ul>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->

            <div class="row m-top-50">
                <div class="col-sm-6 text-center">
                    <img src="img/47/1.png" alt="">
                </div>
                <!-- ./col -->
                <div class="col-sm-6 text-center-xs m-top-20-xs">
                    <div class="font-21 font-semi-bold">Grow Your Business</div>
                    <ul class="list-style-dot line-24 m-top-5">
                        <li>Connect with thousands of clients looking to hire</li>
                        <li>Choose which job requests to send a quote</li>
                        <li>Grow your freelancing business</li>
                        <li>Outsource Quote Guarantee</li>
                    </ul>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./section -->

    <div class="section paddingTB-40 bg-dark-grey">
        <div class="container text-center">
            <span class="font-21 vertical-middle m-right-30 block-xs no-m-right-xs">Ready to
                <span class="font-ultra-bold">Receive Quotes from Freelancers?</span>
            </span> <a href="post-job.html" class="btn btn-dark-green font-16 m-top-10-xs">Post Your Job »</a>
        </div>
        <!-- ./container -->
    </div>
    <!-- section -->
</div>
