<div class="main-container">
    <div class="section section-border-bottom paddingB-40">
        <div class="container">
            <div class="paddingTB-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="font-30 font-ultra-bold font-lato line-1">
                            Account Information
                        </div>
                        <div class="font-18 m-top-10 m-bottom-20">
                            Update/Edit Your Account
                        </div>
                    </div>
                </div>
                <!-- ./row -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="bg-grey">
            <div class="container">
                <div class="row">
                    <tabset class="custom-tab">
                        <tab active="tab.active">
                            <tab-heading>
                                <i class="fa fa-book"></i> Account Information
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Account Information</div>
                                <div class="font-16 m-top-5">Change your basic account settings and location.</div>
                                <form class="form-horizontal" id="accountdetails" data-parsley-validate>
                                    <input type="hidden" name="cmd" value="clinet-account-detail">
                                    <div class="form-group m-top-40">
                                        <label for="emailInput" class="control-label col-sm-3 font-semi-bold">Email Address</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="email" class="form-control" id="emailInput" name="email" ng-model="UserProfile.email" required data-parsley-group="block-account">
                                            <p class="help-block text-normal font-12 no-margin-bottom">Your email will never be shared or displayed publicly.</p>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="FirstName" class="control-label col-sm-3 font-semi-bold">First Name</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="UserProfile.FirstName" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="LastName" class="control-label col-sm-3 font-semi-bold">Last Name</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="LastName" name="LastName" ng-model="UserProfile.LastName" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="age" class="control-label col-sm-3 font-semi-bold">Gender</label>
                                        <div class="col-sm-9 col-md-7">
                                            <select class="form-control style-form" ng-model="UserProfile.gender" id="gender" name="gender" required placeholder="Gender" data-parsley-group="block-account">
                                                <option>
                                                    Male
                                                </option>
                                                <option>
                                                    Female
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="age" class="control-label col-sm-3 font-semi-bold">Height</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="height" name="height" ng-model="UserProfile.height" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="LastName" class="control-label col-sm-3 font-semi-bold">Last Name</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="LastName" name="LastName" ng-model="UserProfile.LastName" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="desiredSalary" class="control-label col-sm-3 font-semi-bold">Birthdate</label>
                                        <div class="col-sm-9 col-md-7">
                                            <div class="input-group">
                                                <input type="text" name="birthdate" id="birthdate" class="form-control" show-weeks="true" datepicker-popup="yyyy/MM/dd" ng-model="UserProfile.birthdate" is-open="$parent.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" data-parsley-group="block-account" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label class="control-label col-sm-3 font-semi-bold font-21">Location</label>
                                        <div class="col-sm-9 col-md-7"></div>
                                    </div>
                                    <div class="form-group m-top-10">
                                        <label for="address" class="control-label col-sm-3 font-semi-bold">Address</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="address" value="" name="address" ng-model="UserProfile.address" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="stateInput" class="control-label col-sm-3 font-semi-bold">State / Province</label>
                                        <div class="col-sm-9 col-md-7">
                                            <input type="text" class="form-control" id="stateInput" name="state" ng-model="UserProfile.StateProvince" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="provinceInput" class="control-label col-sm-3 font-semi-bold">Location</label>
                                        <div class="col-sm-9 col-md-7">
                                            <select name="location" id="location" class="form-control" ng-model="selectedJoblocation" ng-options="location.region for location in joblocation2">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="City" class="control-label col-sm-3 font-semi-bold">City</label>
                                        <div class="col-sm-9 col-md-7">
                                            <select name="city" id="city" class="form-control" ng-model="newlocation">
                                                <optgroup ng-repeat="location in joblocation2 | filter: selectedJoblocation">
                                                    <option ng-repeat="item in location.Town_Cities" value="{{item.locationname}}">
                                                        {{item.locationname}}
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label class="control-label col-sm-3 font-semi-bold font-21">Contacts</label>
                                        <div class="col-sm-9 col-md-7"></div>
                                    </div>
                                    <div class="form-group m-top-10">
                                        <div class="col-sm-3 control-label">
                                            <button ng-click="addContact();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Contacts
                                            </button>
                                        </div>
                                        <div class="col-sm-9 col-lg-7">
                                        </div>
                                    </div>

                                    <div class="form-group m-top-md" ng-repeat="contact in UserProfile.contacts">
                                        <label for="professionalTitle" class="col-sm-3 control-label font-14 semi-bold">Contacts :</label>
                                        <div class="col-sm-9 col-md-7">
                                            <div class="col-md-5">
                                                <select ng-model="contact.contact_type" class="form-control combo-style" id="type" name="type">
                                                    <option value="Landline">Landline</option>
                                                    <option value="Mobile">Mobile</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input ng-model="contact.contact_number" class="form-control" class="form-control" placeholder="Contact Number" name="number" id="number" type="text" value="">
                                            </div>
                                            <div class="col-md-1">
                                                <a ng-click="deleteContact($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center m-top-30">
                                        <button class="btn btn-info m-right-10 btn-savechange" ng-click="saveUserPersonalInfo();" type="button">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-lock"></i>
                                Password
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Password</div>
                                <div class="font-16 m-top-5">Change your password or request a new one.</div>
                                <form class="form-horizontal" id="passwordchange" data-parsley-validate>
                                    <input type="hidden" name="cmd" value="_do-password-change">
                                    <div class="form-group m-top-40">
                                        <label for="password" class="control-label col-sm-3 font-semi-bold">Current Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="password" name="password" required data-parsley-group="block-account">
                                            <a href="#/recovery" class="font-12 m-top-xs font-semi-bold">forgot your password?</a>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label for="newPasswordInput" class="control-label col-sm-3 font-semi-bold">New Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="newPasswordInput" name="newpass" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label for="verifyPasswordInput" class="control-label col-sm-3 font-semi-bold">Verify Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="verifyPasswordInput" name="newpass1" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-30">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-9 col-md-7">
                                            <button ng-click="saveUserPassword()" class="btn btn-info m-left-20" type="button">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-envelope m-right-5"></i> Email Notification
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Email Notifications</div>
                                <div class="font-16 m-top-5">Control the emails that you receive from Outsource.</div>
                                <form class="form-horizontal m-top-30" id="notifications">
                                    <input type="hidden" name="cmd" value="notifications">
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck" class="item-check checkbox-green" name="newproject_update" value="1" checked>
                                            <label for="optionCheck"></label>
                                        </div>
                                        <span class="font-16">New Job Postings</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck1" class="item-check checkbox-green" name="project_update" value="1" checked>
                                            <label for="optionCheck1"></label>
                                        </div>
                                        <span class="font-16">Job Updates</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck2" class="item-check checkbox-green" name="newsletter_update" value="1" checked>
                                            <label for="optionCheck2"></label>
                                        </div>
                                        <span class="font-16">Newsletters & Tips to Get More Out of MindanaoJobs.com</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck3" class="item-check checkbox-green" name="offers_update" value="1" checked>
                                            <label for="optionCheck3"></label>
                                        </div>
                                        <span class="font-16">Special Offers & Updates</span>
                                    </div>
                                    <div class="m-top-30 m-left-30">
                                        <button class="btn btn-info btn-sm btn-wide btn-savechange" type="button">Save Changes</button>
                                    </div>
                                    <p class="font-12 m-top-20 m-left-20">You will always receive important emails related to your MindanaoJobs.com account such as those related to password recovery, Terms and Conditions, billing, and account activity.</p>

                                    <p class="font-12 m-top-20 m-left-20">If you would like to have your account deactivated, please email us at <a href="mailto:support@mindanaojobs.com" class="dnd">support@mindanaojobs.com</a>.</p>
                                </form>
                            </div>
                        </tab>
                        <!-- <tab>
                            <tab-heading>
                                <i class="fa fa-times-circle-o m-right-5"></i> Deactivate Account
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Deactivate Account</div>
                                <div class="font-16 m-top-5">Are you sure you want to deactivate your account?</div>
                                <ul class="list-style-icon m-top-20">
                                    <li class="m-bottom-20">
                                        <div class="list-icon">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                        <div class="list-content">Personal profile displaying your contact information and portfolio of work</div>
                                    </li>
                                    <li class="m-bottom-20">
                                        <div class="list-icon">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                        <div class="list-content">Tailor your profile with the skills and talents you've mastered</div>
                                    </li>
                                    <li class="m-bottom-20">
                                        <div class="list-icon">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                        <div class="list-content">Job Alert Notifications</div>
                                    </li>
                                    <li class="m-bottom-20">
                                        <div class="list-icon">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                        <div class="list-content">No percentages taken, keep what you earn!</div>
                                    </li>
                                    <li>
                                        <div class="list-icon">
                                            <i class="fa fa-check fa-2x"></i>
                                        </div>
                                        <div class="list-content">..and more!</div>
                                    </li>
                                </ul>
                                <div class="row m-top-40">
                                    <div class="col-md-6">
                                        <div class="bg-grey rounded padding-25">
                                            <strong class="block font-lato font-18">Have Questions? Contact Us:</strong>
                                            <ul class="list-unstyled m-top-15">
                                                <li class="m-bottom-10">
                                                    <span class="font-semi-bold">Online:</span> <a href="mailto:support@mindanaojobs.com">support@mindanaojobs.com</a>
                                                </li>
                                                <li>
                                                    <span class="font-semi-bold">Phone:</span>
                                                    <span class="text-blue">(000) 123 - 4567</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <strong class="block font-lato font-18 m-top-30">Yes, I would still like to deactivate my account</strong> <a href="#freelancerDeactiveModal" data-toggle="modal" class="btn btn-danger btn-sm btn-wide m-left-20 m-top-20">Deactivate me</a>
                            </div>
                        </tab> -->
                    </tabset>
                </div>
                <!-- ./row -->
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).on('click', '#notifications .btn-savechange', function() {

    clientaccount('#notifications');
    console.log('notifications');
});

function deactivateAccount() {
    clientaccount('#freelancerdeactivateaccount', 1);
}


Confirm('#accountdetails');
</script>
