<pi-header class="move-LeftEffects"></pi-header>
<section>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-lg-10 style-col1">
                <div class="col-md-12 style-col1">
                    <div class="Search-form">
                        <form class="form-inline input-style" role="form">
                            <div class="form-group">
                                <input type="text" placeholder="Search Here" class="form-control">
                            </div>
                               <select class="form-control combo-style" ng-model="newlocation" ng-options="location.town_cities_name for location in joblocation">
                               </select>
                               <select class="form-control combo-style">
                                    <option ng-repeat="cat in jobcategories" value="{{cat.value}}">{{cat.description}}</option>
                               </select>
                               <a href="#/Profile" type="button" class="btn btn-primary btn-sm">Search</a>

                        </form>
                        <div class="form-inline radio-inline pull-center" style="padding-top:10px">
                        <label>View: </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" ng-class="{active: layout == 'detailed'}" ng-click="layout = 'detailed'"> Detailed
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-class="{active: layout == 'column'}" ng-click="layout = 'column'"> Column
                            </label>
                           <label>Sort:</label>
                            <select class="form-control" style="width: 195px !important;height: 30px !important;">
                              <option>Date</option>
                              <option>Company</option>
                              <option>Job Title</option>
                              <option>Yrs Exp</option>
                              <option>Salary</option>
                              <option>Location</option>
                            </select>
                        </div>
                    </div>

                    <!--  Column -->
                    <div ng-show="layout == 'column'" class="panel-group" id="accordionMinJob">

                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                            <table class="table table-striped">
                                <thead class="thead-style">
                                    <tr>
                                    <th>Job Title</th>
                                    <th>Company</th>
                                    <th>Location</th>
                                    <th>Salary</th>
                                    <th>Yrs. Exp</th>
                                    <th>Date</th>
                                    </tr>
                                </thead>
                            <tbody class="td-style">
                                <tr ng-repeat="jobs in disJob" class="categories-table">
                                    <td style="width:400px">
                                        <a href=""><h4><b style="color: #3498db">{{jobs.position}}</b></h4></a>
                                        <div style="color:#708B66">
                                            <h7 ng-repeat="qualify in jobs.qualification">{{qualify.qualify}}</h7>
                                            <h7 ng-repeat="required in jobs.requirements">> {{required.require}}</h7>
                                        </div>
                                    </td>
                                    <td>
                                        <a href=""><h5 style="color: #3498db">{{jobs.emp_id.name}}</h5></a>
                                        <p>{{jobs.emp_id.email}}</p>
                                        <p ng-repeat="contacts in jobs.emp_id.contacts">{{contacts.NumberType}} - {{contacts.number}}</p>
                                    </td>
                                    <td><h5>{{jobs.emp_id.address}}</h5></td>
                                    <td><h6>{{jobs.salary}}<h6></td>
                                    <td><h6 style="text-align: center;">{{jobs.YrsExp}}<h6></td>
                                    <td><h6>{{jobs.datepost | date:'medium'}}</h6></td>
                                </tr>
                            </tbody>
                            </table>
                            <div class="col-sm-12 text-right">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <ul class="pagination pagination-sm">
                                        <li class="prev disabled"><a href="">Page</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">6</a></li>
                                        <li><a href="#">7</a></li>
                                        <li class="next"><a href="#">Next → </a></li>
                                        <li class="next"><a href="#">Last</a></li>
                                    </ul>
                                </div></div>
                            </div>
                        </div>
                    </div>

                    <!--  Detailed -->
                    <div ng-show="layout == 'detailed'" class="panel-group" id="accordionMinJob">
                        <div ng-repeat="jobs in disJob" class="row detailed-division">
                            <div class="row">
                                <div class="form-group col-md-7">
                                    <a href=""><h4>{{jobs.position}}</h4></a>
                                    <p><a href="">{{jobs.emp_id.name}}</a> - {{jobs.emp_id.address}}</p>
                                    <p style="width: 450px;font-size: 11px;">{{jobs.description}}</p>
                                    <p style="width: 450px;font-size: 11px;color:#0E774A" ng-repeat="qualify in jobs.qualification">Qualification: {{qualify.qualify}}</p>
                                    <p style="width: 450px;font-size: 11px;color:#0E774A" ng-repeat="required in jobs.requirements">Requirements: {{required.require}}</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <p style="color:#0E774A">{{jobs.salary}}</p>
                                    <p>{{jobs.YrsExp}} yrs exp</p>
                                </div>
                                <div class="form-group col-md-2">
                                    {{jobs.datepost | date:'medium'}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <pi-sidebar></pi-sidebar>
        </div>
    </div>
</section>
<pi-footer class="move-LeftEffects"></pi-footer>
