<div class="main-container">
    <div class="container">
        <div class="signup-widget widget-sm">
            <div class="text-center">
                <div class="font-30 font-lato">
                    <span class="font-ultra-bold">EMPLOYER Account</span>
                </div>
            </div>
            <form role="form" name="loginForm" class="m-top-md" id="loginForm" ng-submit="submitForm(loginForm.$valid)" data-parsley-validate novalidate>
                <div class="form-group has-feedback feedback-left" style="float:left;">
                    <label class="font-normal">Employer Login ID:</label>
                    <input class="form-control custom-input" type="email" name="username" ng-model="user.username" data-parsley-group="block1" data-parsley-required-message="The email address you entered has invalid" required value="" size="35" id="username">
                    <span class="fa fa-edit fa-lg form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback feedback-left" style="float:left;">
                    <label class="font-normal">Password:</label>
                    <input type="password" class="form-control custom-input" name="Password" id="upassword" ng-model="user.password" size="35" onclick="password_chk()" onblur="password_blur(this)" onkeyup="password_rem()" data-parsley-group="block1" data-parsley-required-message="The password you entered has invalid" required />
                    <input type="hidden" name="login_process" value="1" />
                    <input type="hidden" name="md5pass" />
                    <input type="hidden" name="md5pass_utf" />
                    <span class="fa fa-lock fa-lg form-control-feedback"></span>
                </div>

                <div class="m-top-40 text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-wide">Login <i class="fa fa-angle-double-right"></i>
                    </button>
                    <div class="font-12 m-top-20">forgot <a href="#/recovery">password</a>?</div>
                </div>


            </form>
        </div>
    </div>
    <!-- ./container -->
</div>
<!-- ./main-container -->

<script language="javascript" type="text/javascript">
if ($('#password').val() != '') {
    $("#password-val").hide();
}

jQuery('#username').live('change keyup paste click, focus, blur, mouseenter, mouseleave', function() {
    password_autocom();
});

function password_autocom() {
    if ($('#password').val() != '') {
        $("#password-val").hide();
    } else {
        $("#password-val").show();
    }
}

function password_chk() {
    $("#password-val").hide();
    $("#password").focus();

}

function u_chk() {
    if ($("#username").val() == 'Email') {
        $("#username").val('');
    }
}

function password_blur(obj) {

    if ($(obj).val() == '') {
        $("#password-val").show();
        $(obj).removeClass("input-bx-act");
    } else {
        $(obj).addClass("input-bx-act");
    }
}

function password_rem(obj) {
    $("#password-val").hide();
}

function u_blur(obj) {
    if ($("#username").val() == '') {
        $("#username").val('Email');
        $("#username").removeClass("input-bx-act");
    } else {
        $("#username").addClass("input-bx-act");
    }
}

function replaceBrwithNewline(str) {
    return str.replace(/<br\s*[\/]?>/gi, "\n");
}
</script>
