<div class="main-container">
    <div class="section paddingT-40">
        <div class="container">
            <div class="font-lato font-30">
                <span class="font-ultra-bold">My Jobs</span>
            </div>
            <div class="font-16">We found
                <span class="pc-cnt">{{disJob.length}}</span> added jobs on your company.</div>
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div class="input-group m-bottom-20">
                        <input ng-change="searchCount()" ng-model="position" type="text" class="form-control" placeholder="Search here..." id="search_name">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="searchText()"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row find-project-grid">
                <form class="form-horizontal search-form">
                    <div class="col-md-12">
                        <div class="bg-grey padding-10 paddingTB-5">
                            <div class="row row-merge">
                                <div class="col-xs-9 col-sm-push-3 text-right text-left-xs no-margin-xs">
                                    <span class="m-left-2 m-right-2">Sort</span>
                                    <select ng-model="reOrder">
                                      <option value="datepost">Date</option>
                                      <option value="position">Job Title</option>
                                      <option value="YrsExp">Yrs Exp</option>
                                      <option vlue="salary">Salary</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <form role="form" name="educForm" novalidate>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Job Informations</h3>
                                    </div>

                                    <div class="panel-body">
                                        <div class="col-xs-2">
                                            <a href="#/jobpost" class="btn btn-success btn-block pull right">Create Job</a>
                                        </div>
                                        <div class="row">
                                            <div class="panel-group" id="accordionMinJob">
                                                <div ng-repeat="jobs in filtered = (disJob | filter:position) | orderBy:reOrder | limitTo: limit" class="row detailed-division">
                                                    <div class="row">
                                                        <div class="form-group col-md-5">
                                                            <a href="#/jobdetails/{{jobs._id}}"><h4>{{jobs.position}}</h4></a>
                                                            <p><a href="#/CompanyProfile/{{jobs.emp_id._id}}">{{jobs.emp_id.name}}</a> - {{jobs.emp_id.address}}</p>
                                                            <p style="width: 450px;font-size: 11px;">Categories: {{jobs.categories}}</p>
                                                            <p style="width: 450px;font-size: 11px;color:#0E774A" ng-repeat="qualify in jobs.qualification">Qualification: {{qualify.qualify}}</p>
                                                            <p style="width: 450px;font-size: 11px;color:#0E774A" ng-repeat="required in jobs.requirements">Requirements: {{required.require}}</p>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <p style="color:#0E774A">Php. {{jobs.salary}}</p>
                                                            <p>{{jobs.YrsExp}} yrs exp</p>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            {{jobs.datepost | date:'medium'}}
                                                        </div>
                                                        <div class="form-group col-md-2" style="float:right">
                                                            <a href="" style="float:right;border: 1px solid #E7D2D2;margin: 0px 2px 0px 0px;width: 20px;text-align: center;"><i class="glyphicon glyphicon-remove pull-rigth"></i></a>
                                                            <a href="#/jobpost/{{jobs._id}}" style="float:right;border: 1px solid #E7D2D2;margin: 0px 2px 0px 0px;width: 20px;text-align: center;"><i class="glyphicon glyphicon-pencil pull-rigth"></i></a>
                                                            <a href="#/jobdetails/{{jobs._id}}" style="float:right;border: 1px solid #E7D2D2;margin: 0px 2px 0px 0px;width: 20px;text-align: center;"><i class="glyphicon glyphicon-search pull-rigth"></i></a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-group text-right">
                                            <div class="alert pull-left small ng-binding">Showing 1 to <g ng-show="showmore == true">{{limit}}</g><g ng-show="showmore == false">{{filtered.length}}</g> of {{disJob.length}} entries</div>
                                            <button ng-click="showMore()" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-plus"></i> Show More</button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                    <!-- .col -->
                </form>
            </div>
            <!-- ./row -->

        </div>
        <!-- ./container -->
    </div>
    <!-- section -->
</div>
