<div class="main-container no-bottom-space">
    <div class="section">
        <div class="bg-grey">
            <div class="container">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-24 font-semi-bold line-1">Profile Overview</div>
                                        <form role="form" data-parsley-validate name="userForm" ng-submit="getEmployerData()" class="form-horizontal m-top-40">
                                            <div class="col-lg-8">
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Comapany Name:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input ng-model="employer.name" type="text" class="form-control style-form" id="desiredSalary" name="desiredSalary"  required placeholder="Comapany Name">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Description :</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <textarea ng-model="employer.overview" class="form-control leftchar" onkeyup="parsleyLeft(this)" data-parsley-length="[100, 3000]" rows="12"  id="qualification" name="qualification" data-parsley-group="block1" required data-parsley-rangelength="[100,3000]" data-parsley-minlength="100" data-parsley-maxlength="3000" maxlength="3000">
                                                    </textarea>
                                                    <div class="col-md-12 text-right">
                                                        <span class="left">3000</span>characters left</div>
                                                    <p class="block text-muted font-12 m-top-10">Outsource is built on trust. Help clients get to know you and your professional background.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Address:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                   <select class="form-control combo-style" ng-model="address" ng-options="location.town_cities_name for location in empaddress" ng-change="change(address)">
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-repeat="contactlist in employer.contacts" class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Contact Number:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="form-group col-sm-5 col-lg-5">
                                                        <select ng-model="contactlist.NumberType" class="form-control combo-style">
                                                            <option value="Landline">Landline</option>
                                                            <option value="Mobile">Mobile</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-5 col-lg-5">
                                                        <input ng-model="contactlist.number" class="form-control" class="form-control" placeholder="Contact Number" name="ContactNumber" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-2 ">
                                                        <a ng-click="addContact();" style="font-size: 10px;margin-left: 5px;"><i class="glyphicon glyphicon-plus"></i></a>
                                                        <a ng-click="deleteContact($index);" style="font-size: 10px;margin-left: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Website:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input type="text" class="form-control style-form" id="Website" name="Website" ng-model="employer.website" required placeholder="Website">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Email Address:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input ng-model="employer.email" type="text" class="form-control style-form" id="desiredSalary" name="desiredSalary" required placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Password:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input ng-model="employer.password" type="password" class="form-control style-form" id="desiredSalary" name="desiredSalary" required placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Confirm Password:</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <input ng-model="employer.confirmpassword" type="password" class="form-control style-form" id="desiredSalary" name="desiredSalary" required placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left"></label>
                                                <div class="col-sm-12 col-lg-12 text-right"> <button type="submit" class="btn btn-danger btn-wide">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- ./container -->
                                </div>
                                <!-- ./bg-grey -->
                            </div>
                            <!-- overview tab -->
                        </div>
            </div>
        </div>
    </div>
</div>
