<div class="main-container">
    <div class="section section-border-bottom paddingB-40">
        <div class="container">
            <div class="paddingTB-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="font-30 font-ultra-bold font-lato line-1">
                            Account Information
                        </div>
                        <div class="font-18 m-top-10 m-bottom-20">
                            Update/Edit Your Account
                        </div>
                    </div>
                </div>
                <!-- ./row -->
            </div>
            <!-- ./paddingTB -->
        </div>
        <!-- ./container -->
    </div>
    <div class="section">
        <div class="bg-grey">
            <div class="container">
                <div class="row">
                    <tabset class="custom-tab">
                        <tab active="tab.active">
                            <tab-heading>
                                <i class="fa fa-book"></i> Account Information
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Account Information</div>
                                <div class="font-16 m-top-5">Change your basic account settings and location.</div>
                                <form class="form-horizontal" id="accountdetails" name="employerProfile" ng-submit="update()" data-parsley-validate>
                                <div class="col-lg-9">
                                    <input type="hidden" name="cmd" value="clinet-account-detail">
                                    <div class="form-group m-top-40">
                                        <label for="name" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Company Name</label>
                                        <div class="col-sm-12 col-md-12">
                                            <input type="text" class="form-control" id="name" name="name" ng-model="displayEmployer.name" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="name" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Description</label>
                                        <div class="col-sm-12 col-md-12">
                                            <textarea ng-model="displayEmployer.overview" class="form-control leftchar" onkeyup="parsleyLeft(this)" data-parsley-length="[100, 3000]" rows="12"  id="qualification" name="qualification" data-parsley-group="block1" required data-parsley-rangelength="[100,3000]" data-parsley-minlength="100" data-parsley-maxlength="3000" maxlength="3000">
                                            </textarea>
                                            <div class="col-md-12 text-right">
                                                <span class="left">3000</span>characters left</div>
                                            <p class="block text-muted font-12 m-top-10">Outsource is built on trust. Help clients get to know you and your professional background.</p>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="FirstName" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Email Address</label>
                                        <div class="col-sm-12 col-md-12">
                                            <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="displayEmployer.email" required data-parsley-group="block-account">
                                            <p class="help-block text-normal font-12 no-margin-bottom">Your email will never be shared or displayed publicly.</p>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md">
                                        <label for="Website" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Website</label>
                                        <div class="col-sm-12 col-md-12">
                                            <input type="text" class="form-control" id="Website" name="Website" ng-model="displayEmployer.website" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-10">
                                        <label for="address" class="col-lg-12 col-sm-12 control-label font-normal font-14 text-left">Address</label>
                                        <div class="col-sm-12 col-md-12">
                                            <input type="text" class="form-control" id="address" value="" name="address" ng-model="displayEmployer.address" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-10">
                                        <div class="col-sm-1 control-label">
                                            <a ng-click="addContact1();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Contacts
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-md" ng-repeat="contactlist in displayEmployer.contacts">
                                        <label for="professionalTitle" class="col-sm-2 control-label font-14 semi-bold">Contacts :</label>
                                        <div class="col-sm-12 col-md-12">
                                            <div class="col-md-5">
                                                <select ng-model="contactlist.NumberType" class="form-control combo-style" id="type" name="type">
                                                    <option value="Landline">Landline</option>
                                                    <option value="Mobile">Mobile</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <input ng-model="contactlist.number" class="form-control" class="form-control" placeholder="Contact Number" name="number" id="number" type="text" value="">
                                            </div>
                                            <div class="col-md-1">
                                                <a ng-click="deleteContact1($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center m-top-30">
                                        <button class="btn btn-info m-right-10 btn-savechange" type="submit" type="button">Save Changes</button>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-5 col-sm-5 control-label font-normal font-14 text-left">Add Photo :</label>
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail" style="width: 143px; height: 143px;">
                                                            <img ng-src="../public/img/users/{{displayEmployer.image}}" alt="..." class="img-rounded">

                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 143px; max-height: 143px;"></div>
                                                        <div>
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileinput-new">Select image</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" ng-file-select="onFileSelect($files)" name="photo" id="photo">
                                                            </span>
                                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            <p class="text-muted m-top-10">
                                                                <small>Tip: Add a professional photo of yourself to attract more clients.</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        </div>
                                </form>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-lock"></i>
                                Password
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Password</div>
                                <div class="font-16 m-top-5">Change your password or request a new one.</div>
                                <form class="form-horizontal" id="passwordchange" data-parsley-validate>
                                    <input type="hidden" name="cmd" value="_do-password-change">
                                    <div class="form-group m-top-40">
                                        <label for="password" class="control-label col-sm-3 font-semi-bold">Current Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="password" name="password" ng-model="displayEmployer.password" required data-parsley-group="block-account">
                                            <a href="#/recovery" class="font-12 m-top-xs font-semi-bold">forgot your password?</a>
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label for="newPasswordInput" class="control-label col-sm-3 font-semi-bold">New Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="newPasswordInput" name="newpass" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-20">
                                        <label for="verifyPasswordInput" class="control-label col-sm-3 font-semi-bold">Verify Password</label>
                                        <div class="col-sm-9 col-md-7 has-icon-alert">
                                            <span class="form-check relative"><i class="fa fa-check text-dark-green tick_absolute"></i>
                                            </span>
                                            <input type="password" class="form-control" id="verifyPasswordInput" name="newpass1" required data-parsley-group="block-account">
                                        </div>
                                    </div>
                                    <div class="form-group m-top-30">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-9 col-md-7">
                                            <button ng-click="saveUserPassword()" class="btn btn-info m-left-20" type="button">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                <i class="fa fa-envelope m-right-5"></i> Email Notification
                            </tab-heading>
                            <div class="padding-10 paddingTB-40 m-bottom-20">
                                <div class="font-lato font-30 font-ultra-bold">Email Notifications</div>
                                <div class="font-16 m-top-5">Control the emails that you receive from Outsource.</div>
                                <form class="form-horizontal m-top-30" id="notifications">
                                    <input type="hidden" name="cmd" value="notifications">
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck" class="item-check checkbox-green" name="newproject_update" value="1" checked>
                                            <label for="optionCheck"></label>
                                        </div>
                                        <span class="font-16">New Job Postings</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck1" class="item-check checkbox-green" name="project_update" value="1" checked>
                                            <label for="optionCheck1"></label>
                                        </div>
                                        <span class="font-16">Job Updates</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck2" class="item-check checkbox-green" name="newsletter_update" value="1" checked>
                                            <label for="optionCheck2"></label>
                                        </div>
                                        <span class="font-16">Newsletters & Tips to Get More Out of MindanaoJobs.com</span>
                                    </div>
                                    <div class="m-bottom-20">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="optionCheck3" class="item-check checkbox-green" name="offers_update" value="1" checked>
                                            <label for="optionCheck3"></label>
                                        </div>
                                        <span class="font-16">Special Offers & Updates</span>
                                    </div>
                                    <div class="m-top-30 m-left-30">
                                        <button class="btn btn-info btn-sm btn-wide btn-savechange" type="button">Save Changes</button>
                                    </div>
                                    <p class="font-12 m-top-20 m-left-20">You will always receive important emails related to your MindanaoJobs.com account such as those related to password recovery, Terms and Conditions, billing, and account activity.</p>

                                    <p class="font-12 m-top-20 m-left-20">If you would like to have your account deactivated, please email us at <a href="mailto:support@mindanaojobs.com" class="dnd">support@mindanaojobs.com</a>.</p>
                                </form>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <!-- ./row -->
            </div>
        </div>
    </div>
</div>
