<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 m-bottom-20-xs   text-center-xs">
                <a href="index.html">
                    <img src="../public/img/footer/footer-logo.png" alt="">
                </a>
            </div>
            <!-- ./col -->
            <div class="col-sm-10 m-bottom-20-xs">
                <div class="col-sm-3 no-padding m-bottom-40-xs  hidden-xs">
                    <div class="footer-header">Employers</div>
                    <ul class="quick-link list-unstyled m-top-5">
                        <li><a href="#/how-it-works">How it Works</a>
                        </li>
                        <li><a href="#/">Find Applicants</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 no-padding m-bottom-40-xs  hidden-xs">
                    <div class="footer-header">Jobseekers</div>
                    <ul class="quick-link list-unstyled m-top-5">
                        <li><a href="#/how-it-works-applicants">How it Works</a>
                        </li>
                        <li><a href="loginc4bb.html">Find Jobs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 no-padding m-bottom-40-xs  text-center-xs">
                    <div class="footer-header">Mindanajobs.com</div>
                    <ul class="quick-link list-unstyled m-top-5">
                        <li><a href="#/about">About Us</a>
                        </li>
                        <li><a href="#terms">Terms of Service</a>
                        </li>
                        <li><a href="#/privacy">Privacy Policy</a>
                        </li>
                        <li><a href="#/">FAQs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3 no-padding m-bottom-40-xs   text-center-xs">
                    <div>
                        Contact us at
                    </div>
                    <div class="m-top-5">
                        <a href="mailto:support@outsource.com" class="text-white dnd">support@mindanaojobs.com</a>
                    </div>
                    <div class="m-top-5">
                        or 800-406-4732
                    </div>
                    <div class="m-top-20">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social2 btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social2 btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social2 btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- ./row -->
    </div>
</footer>
