<div class="top-navigation">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="top-menu-right">
                        <ul class="clearfix">
                            <!-- <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                    <i class="fa fa-bell"></i>
                                </a>
                                <ul class="dropdown-menu notification animated-dropdown">
                                    <li><a href="#">You have 0 new notifications</a>
                                    </li>
                                    <li><a href="#/notifications" class="text-center">View all notifications</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope"></i>
                                </a>
                                <ul class="dropdown-menu message animated-dropdown">
                                    <li><a>You have 0 new unread messages</a>
                                    </li>

                                    <li><a href="#/messages" class="text-center">View all messages</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li>
                                <a ng-show="show == 'user'" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                       {{user.FirstName}} {{user.LastName}}
                                       <i class="fa fa-caret-down m-left-5 move-down-2"></i>
                                </a>
                                <a ng-show="show == 'employer'" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                       {{user.name}}
                                       <i class="fa fa-caret-down m-left-5 move-down-2"></i>
                                </a>
                                <ul ng-show="show == 'user'" class="dropdown-menu animated-dropdown">
                                    <li><a href="#/account">Account Info</a>
                                    </li>
                                    <li><a href="#/profile">Edit Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="logout();" href="#/logout">Log Out</a>
                                    </li>
                                </ul>
                                <ul ng-show="show == 'employer'" class="dropdown-menu animated-dropdown">
                                    <li><a href="#/EmployerAccount">Account Info</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="logout();" href="#/logout">Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </div>
    </div>

    <nav class="navbar navbar-default top-nav-inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-btn-sm">
                    <!--<a href="signup.html" class="btn btn-success">Join Now</a>-->
                </div>

                <a class="navbar-brand" href="#/">
                    <img src="../public/img/home/logo.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="topnavCollapse">
                <ul ng-show="show == 'user'" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/joblist">
                            <i class="fa fa-search fa-lg"></i> Search Job
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/my-profile">
                            <i class="fa fa-user fa-lg"></i> My Profile
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                </ul>
                <ul ng-show="show == 'employer'" class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/jobpost">
                            <i class="glyphicon glyphicon-pencil"></i> Post Job
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/MyJobs">
                            <i class="fa fa-search fa-lg"></i> Posted Job
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/EmployerProfile">
                            <i class="fa fa-user fa-lg"></i> My Profile
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
