<div class="top-navigation">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-offset-6">
                    <div class="top-menu-right">
                        <ul>
                            <li>
                                <a href="#/joinoption">Sign Up</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" >
                                    Log In
                                    <i class="fa fa-caret-down m-left-5 move-down-2"></i>
                                </a>
                                <ul class="dropdown-menu animated-dropdown">
                                    <li><a href="#/login">Job Seeker</a>
                                    </li>
                                    <li><a href="#/employer">Employer</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default top-nav-inner">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">
                    <img src="../public/img/home/logo.png" alt="">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="topnavCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/joblist">
                            <i class="fa fa-search fa-lg"></i> Search Jobs
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/jobpost">
                            <i class="fa fa-pencil fa-lg"></i> Post a Job
                            <span class="menu-hover"></span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
