<div class="main-container no-bottom-space">
    <div class="section main-image">
        <div class="main-image-inner" data-position="200" id="mainImage">
            <img src="../public/img/home_new/center image.png" alt="" / class="image-background bg1">
            <img src="../public/img/home_new/2-240x199.jpg" alt="" / class="image-background bg2">
            <img src="../public/img/home_new/3-240x199.jpg" alt="" / class="image-background bg3">
            <img src="../public/img/home_new/6-319x199.jpg" alt="" / class="image-background bg4">
            <img src="../public/img/home_new/8-319x199.jpg" alt="" / class="image-background bg5">
            <img src="../public/img/home_new/7-319x199.jpg" alt="" / class="image-background bg6">
            <img src="../public/img/home_new/9-319x199.jpg" alt="" / class="image-background bg7">
            <img src="../public/img/home_new/4-240x199.jpg" alt="" / class="image-background bg8">
            <img src="../public/img/home_new/5-240x199.jpg" alt="" / class="image-background bg9">
            <img src="../public/img/home_new/10-403x390.jpg" alt="" / class="image-background bg10">
            <div class="container main-photo-screen">
            </div>
            <!-- ./container -->
        </div>
        <!-- ./main-image-slider -->
    </div>
    <!-- ./section -->

    <div class="section how-it-work-section bg-grey section-border-bottom">
        <div class="container">
            <div class="section-inner text-center">
                <div class="line-38">
                    <div class="font-30 font-lato font-ultra-bold">Find your desired jobs here at Mindanao Jobs</div>
                    <div class="font-30 font-lato font-italic">dream jobs for professionals like you...</div>
                </div>
                <div class="line-background">
                    <img src="../public/img/home_new/line.png" alt="">
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="how-it-work-wrapper">
                                <div class="how-it-work-icon-container">
                                    <div class="how-it-work-icon icon-blue m-left-5 m-left-20-sm no-margin-xs">
                                        <a href="#fake" class="services_icon"><i class="fa fa-wechat"></i></a>
                                    </div>
                                </div>
                                <div class="how-it-work-title nowrap">Tell us what you need</div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-sm-4">
                            <div class="how-it-work-wrapper">
                                <div class="how-it-work-icon-container">
                                    <div class="how-it-work-icon icon-green">
                                        <a href="#" class="services_icon"><i class="fa fa-file-text-o"></i></a>
                                    </div>
                                </div>
                                <div class="how-it-work-title nowrap">Compare Application</div>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-sm-4">
                            <div class="how-it-work-wrapper">
                                <div class="how-it-work-icon-container">
                                    <div class="how-it-work-icon icon-purple m-left-10 m-left-30-sm no-margin-xs">
                                        <a href="#" class="services_icon"><i class="fa fa-users"></i></a>
                                    </div>
                                </div>
                                <div class="how-it-work-title nowrap">Hire the Best Applicant</div>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- ./row -->
                </div>
            </div>
            <!-- ./section-inner -->
        </div>
    </div>
    <!-- section -->

    <div class="section bg-dark-grey post-job-section section-border-bottom">
        <div class="container">
            <div class="font-24 text-center m-bottom-40">
                <div class="title font-lato line-1">Post a Job and
                    <span class="font-ultra-bold">Start Receiving Applicants Today</span>
                </div>
            </div>
            <div class="post-job-list">
                <ul class="clearfix center-block indexpage">
                    <li onclick="window.location='post-job0bb5.html?pid=32'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-1.jpg" alt=""> <a href="post-job0bb5.html?pid=32" class="post-job-category">Web Developers</a>
                            <div class="post-job-overlay"> <a href="post-job0bb5.html?pid=32" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-jobd250.html?pid=14'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-2.jpg" alt=""> <a href="post-jobd250.html?pid=14" class="post-job-category">Content Writers</a>
                            <div class="post-job-overlay"> <a href="post-jobd250.html?pid=14" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-job60c2.html?pid=49'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-3.jpg" alt=""> <a href="post-job60c2.html?pid=49" class="post-job-category">Graphic Designers</a>
                            <div class="post-job-overlay"> <a href="post-job60c2.html?pid=49" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-job2218.html?pid=60'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-4.jpg" alt=""> <a href="post-job2218.html?pid=60" class="post-job-category">Data Entry Specialists</a>
                            <div class="post-job-overlay"> <a href="post-job2218.html?pid=60" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-jobb1b7.html?pid=44'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-5.jpg" alt=""> <a href="post-jobb1b7.html?pid=44" class="post-job-category">SEO Experts</a>
                            <div class="post-job-overlay"> <a href="post-jobb1b7.html?pid=44" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-jobedbe.html?pid=24'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-6.jpg" alt=""> <a href="post-jobedbe.html?pid=24" class="post-job-category">Application Developers</a>
                            <div class="post-job-overlay"> <a href="post-jobedbe.html?pid=24" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-job60c2.html?pid=49'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-7.jpg" alt=""> <a href="post-job60c2.html?pid=49" class="post-job-category">Web Designers</a>
                            <div class="post-job-overlay"> <a href="post-job60c2.html?pid=49" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-job8ea4.html?pid=58'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-8.jpg" alt=""> <a href="post-job8ea4.html?pid=58" class="post-job-category">Administrative Assistants</a>
                            <div class="post-job-overlay"> <a href="post-job8ea4.html?pid=58" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    <li onclick="window.location='post-job3f35.html?pid=40'">
                        <div class="post-job-inner">
                            <img src="../public/img/home_new/main-9.jpg" alt=""> <a href="post-job3f35.html?pid=40" class="post-job-category">Internet Marketing Specialists</a>
                            <div class="post-job-overlay"> <a href="post-job3f35.html?pid=40" class="post-job-button"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ./post-job-list -->
            <div class="text-center m-top-20 m-bottom-20">
                <div class="font-18 inline-block vertical-middle m-right-40 line-24 block-xs no-margin-xs">
                    <div class="font-semi-bold">See how much your business can save!</div>
                    It's free to get quotes with no obligations.</div>
                <a href="#/jobpost" class="btn btn-primary btn-lg vertical-middle m-top-20-xs">Post Your Job<i class="fa fa-angle-double-right font-16 m-left-10"></i></a>
            </div>
        </div>
    </div>
    <!-- ./section -->

    <div class="section bg-light-grey last-section">
        <div class="container padding-lg line-32">
            <div class="section-inner">
                <div class="section-image">
                    <img src="../public/img/home/logo.png">
                </div>
                <div class="section-content">
                    <p class="font-16">
                        <span class="font-semi-bold">MindanaoJobs.com</span> allows you to easily outsource work and build a quality team of the world's best freelancers. Post a job to receive quotes, compare profiles, and hire great freelancers for your job. MindanaoJobs.com has a wide variety of freelancers including: web developers, data analysts, social media specialists , web designers, graphic designers, researchers, app developers, software programmers and more.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ./section -->
</div>
