<div class="main-container">
    <div class="section p-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="paddingT-40">
                        <div class="font-24 block font-lato font-ultra-bold">Tell us about what you need and we'll match you with the best freelancers for the job</div>
                    </div>
                </div>
                <div class="col-md-4 text-right text-left-xs m-top-70 m-top-20-sm">
                    <span class="font-semi-bold">Need help?</span>Call us 1-234-567-8900
                    <br/>or email <a href="mailto:support@mindanaojobs.com" class="text-primary">support@mindanaojobs.com</a>
                </div>
            </div>
            <!-- ./row -->

            <form role="form" class="m-top-20" data-parsley-validate id="jobForm" name="jobForm" ng-submit="submitForm(jobForm.$valid)">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group has-icon-alert m-bottom-20">
                            <label class="font-semi-bold">Select a category that matches your job:
                                <span class="form-check cid"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control combo-style" ng-model="job.categories">
                                        <option ng-repeat="cat in jobcategories" value="{{cat.description}}">{{cat.description}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control  hidden" name="cid" id="cid" disabled="disabled" data-parsley-group="block1" required>
                                        <option value="">Please Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-20">
                            <label class="font-semi-bold">What should we call your job post?
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-model="job.position" class="form-control" type="text" name="title" id="title" placeholder="e.g. Need to hire a PHP Developer for new website" data-parsley-group="block1" required/>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-20">
                            <label class="font-semi-bold">Employment basis
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <select class="form-control combo-style" ng-model="job.employmentbasis" name="employmentbasis" id="employmentbasis">
                                <option ng-repeat="data in basis" value="{{data.type}}">{{data.type}}</option>
                           </select>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-20">
                            <label class="font-semi-bold">Provide details about what you need:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <textarea ng-model="job.description" class="form-control" onkeyup="parsleyLeft(this)" data-parsley-length="[100, 5000]" data-parsley-group="block1" data-parsley-rangelength="[100,5000]" data-parsley-minlength="100" data-parsley-maxlength="5000" maxlength="5000" rows="12" required name="description" id="description" placeholder="Enter your details here..."></textarea>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-40">
                            <label class="font-semi-bold">Add the Skills that are needed:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-repeat="skill in job.skills" ng-model="skill.name" class="form-control" type="text" name="title" id="title" placeholder="" data-parsley-group="block1" required/>
                            <ul id="parsley-id-multiple-skills[]" class="parsley-errors-list hidden">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-40">
                            <label class="font-semi-bold">Add the qualification that are needed:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-repeat="jobQualification in job.qualification" ng-model="jobQualification.qualify" class="form-control" type="text" name="title" id="title" placeholder="" data-parsley-group="block1" required/>
                            <ul id="parsley-id-multiple-skills[]" class="parsley-errors-list hidden">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-40">
                            <label class="font-semi-bold">Add the requirements that are needed:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-repeat="jobrequirement in job.requirements" ng-model="jobrequirement.require" class="form-control" type="text" name="title" id="title" placeholder="e.g. " data-parsley-group="block1" required/>
                            <ul id="parsley-id-multiple-skills[]" class="parsley-errors-list hidden">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-40">
                            <label class="font-semi-bold">No. of Years Experience:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-model="job.YrsExp" class="form-control" type="text" name="title" id="title" placeholder="e.g.  " data-parsley-group="block1" required/>
                            <ul id="parsley-id-multiple-skills[]" class="parsley-errors-list hidden">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>
                        <div class="form-group has-tip has-icon-alert m-bottom-40">
                            <label class="font-semi-bold">Salary:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input ng-model="job.salary" class="form-control" type="text" name="title" id="title" placeholder="e.g. 0.00" data-parsley-group="block1" required/>
                            <ul id="parsley-id-multiple-skills[]" class="parsley-errors-list hidden">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>
                        <!-- ./form-group -->
                    </div>
                    <!-- ./col -->

                    <div class="col-md-4">
                        <div class="bg-grey padding-30 bordered m-top-5 rounded">
                            <div class="font-18 m-bottom-15 font-semi-bold line-1">Hire with Confidence</div>
                            <p>We'll email you multiple quotes so that you can compare and hire the right freelancer.</p>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="m-top-15 m-top-20-sm">
                <div class="m-left-30">
                <button type="submit" class="btn btn-primary btn-lg btn-wide postanjob">Post Job<i class="fa fa-angle-double-right m-left-5 font-16"></i>
                </button>
                </div>
                <p class="m-top-10 text-muted font-11 m-top-20">By posting the job, you agree to the Mindanao Jobs <a href="#/terms">User Agreement</a> and <a href="#/privacy">Privacy Policy</a>
                </p>
            </div>
            </form>

        </div>
    </div>
</div>
