<pi-header class="move-LeftEffects"></pi-header>
<section>
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-lg-10 style-col">
                   <div class="Search-form">
						<form class="form-inline input-style" role="form">
							<div class="form-group">
					       		<input type="text" placeholder="Search Here" class="form-control">
							</div>
						       <select class="form-control combo-style" ng-model="newlocation" ng-options="location.town_cities_name for location in joblocation">
                               </select>
                               <select class="form-control combo-style">
                                    <option ng-repeat="cat in jobcategories" value="{{cat.value}}">{{cat.description}}</option>
                               </select>
						       <a href="#/JobSeeker" type="button" class="btn btn-primary btn-sm">Search</a>
					    </form>
		      		</div>
		      		<div class="breadcrumbs">
		      			<a href="#"><p><< Back to Job listing</p></a>
		      		</div>
		      		<div class="row">
		      			<div class="col-md-11 telstra-image">
		      				<img src="public/images/TelstraPoweredbyTeletech02212014_20140221165552_9.jpg">
		      			</div>
		      		</div>
		      		<div class="top-content">
		      			<a href=""><h3><b>Telstra | Customer Service Representative | No Experience Necessary</b></h3></a>
		      			<a href=""><h6><b>Ground Floor, Elboc Tower 2, Asia Town IT Park(Geonzon St.) Lahu, Cebu City, Cebu</b></h6></a>
		      			<a href=""><h6>Posted on : August 26, 2014</h6></a>
		      			<p>Job ID: 72773</p>
		      			<p>Accepting applications until April 09, 2015, Thursday</p>
		      		</div>
		      		<div class="bodyContent">
			      		<div class="panel panel-default">
				      		<div class="panel-heading">
						      <h4 class="panel-title">
						         <b>Details</b>
						      </h4>
						    </div>
				   		 </div>
				   		 <div class="content-details">
				   		 	<h4>GADGET MASTERs</h4>
				   		 	<p>Time to stand out and fit right in </br></br> Are you the type of individual who everyone turns to take care if their technical needs? Do your friends and family rely on your</br> experties? If so, then consider a career  with us. We are  in the verge of transforming the way we do business. We need tech savvy</br> masters like you to lead the way.</p>

				   		 	<h4>CUSTOMER SERVICES REPRESENTATIVE(CSR)</h4>
				   		 	<p>Your role as a Customer Service Representative(CSR) is to listen and analyze customer calls and understand what the customer</br>needs and how to resolve their issues in accordance with a set  methodology. You will provide guidance or initiate appropriate</br>administrative procedures to resolve any issues to achieve a high level of customer satisfaction and advocacy.</p>

				   		 	<h4>DUTIES AND RESPONSIBILITIES:</h4>
				   		 	<ul class="unordered-list">
				   		 		<li>Provide end to end customer service to Telstra customers</li>
				   		 		<li>Listen and understand hy customer called us and what matters to them</li>
				   		 		<li>Take full owernership to resolve customer queries and deliver what matters to the customer on the first call.</li>
				   		 		<li>Proactively identify  and raise areas for process/policy improvement through the appropriate channels to prevent further customer issues.</li>
				   		 		<li>Work as part of a larger team  to create a continuous improvement culture.</li>
				   		 		<li>Integrate key learning into operations to help support customer advocacy.</li>
				   		 	</ul>

				   		 	<h4>QUALIFICATIONS:</h4>
				   		 	<ul class="unordered-list">
				   		 		<li>No experience necessary. Fresh graduates are welcome to apply. Now accepting High School graduates with excellent communication skills</li>
				   		 		<li>Proficient in conversational Enlgish.</li>
				   		 		<li>Able to convey information effectively with neutral accent.</li>
				   		 		<li>Internet savvy and knowledge of MS Office applications </li>
				   		 	</ul>

				   		 	<h4>WHAT WE HAVE TO OFFER</h4>
				   		 	<ul class="unordered-list">
				   		 		<li>Teletech offers opportunities for career advancement, personal development and experiences meant to enhance the quality of your professional life</li>
				   		 		<li>Competitive compensation package including regular performance bonuses</li>
				   		 		<li>Medical and dental coverage plus life insurance options</li>
				   		 		<li>Immerse in personal development programs and continued skill enhancement through  online and propriatary training curriculums</li>
				   		 		<li>Engage with your colleagues and build friendship through exciting promotions, events and activities</li>
				   		 		<p>How to Aplly</br>Walk in applicants will be prioritized!</p>
				   		 		<p></br><b>Walk in and aplly at our Recruitment Hub in IT Park!</br>Ground Floor, Ebloc Tower 2,IT ParkLahug, Cebu City</br>Landmark: Same Building with Yellow Cab and Army Navy</br>Monday-Friday from 8:00am-6:00pm</br></br>For more Information:</br>- Call or Text: 09	156462900</br>- You can send your resumes to CarloCampilan@TeleTech.com</br>- Visit our online career portal at http://www.TeleTechJobs.com</br></br>Like us on Facebook and Follow us on Twitter</br>- http://www.facebook.com/TeleTechPilipinas</br>- http://www.twitter.com/TeleTechPinas</b></p>
				   		 	</ul>
				   		 </div>
				   		 <div class="quick-application">
				   		 <div class="panel panel-default">
				      		<div class="panel-heading">
						      <h4 class="panel-title">
						         <b>Qucik application</b>
						      </h4>
						    </div>
				   		 </div>
				   		 	<div class="row">
				   		 		<div class="col-sm-12">
									<div class="input-style1">
										<input type="text" class="form-control style-form" placeholder="Fullname">
									</div>
									<div class="input-style1">
										<input type="text" class="form-control style-form" placeholder="Email">
									</div>
									<div class="input-style1">
										<input type="text" class="form-control style-form" placeholder="Contact Number">
									</div>
									<div class="input-style1">
										<select class="form-control style-form">
									       	<option>
									       		Current Location
									       	</option>
								        </select>
									</div>
									<div class="input-style1">
										<select class="form-control style-form">
									       	<option>
									       		Current City
									       	</option>
								        </select>
									</div>
									<div class="input-style1">
										<input type="text" class="form-control style-form" placeholder="Expected Monthly Salary">
									</div>
									<div class="col-sm-12 padding-style">
										<h5></br><b>Application letter / Cover letter</b></h5>
										<div class="box-content">
				                            <textarea class="autosize textarea-height" placeholder="Dear Sir/Madam," rows="2">
				                            </textarea>
			                          	</div>
			                          	<h5></br><b>Resume</b></h5>
										<div class="form-group">
									        <div class="col-sm-3">
									          <div class="checkbox">
									            <label>
									              <input type="radio"> Paste
									            </label>
									          </div>
									        </div>
									    </div>
									    <div class="form-group">
									        <div class="col-sm-3">
									          <div class="checkbox">
									            <label>
									              <input type="radio"> Upload
									            </label>
									          </div>
									        </div>
									    </div>
									</div>
									<div class="row padding-style">
										<div class="form-group">
									        <div class="col-md-3">
									         	<button type="button" class="btn btn-primary btn-block">Upload Resume</button>
									         	<p class="files-upload">Only files with .docs, .docx, .odt, .pdf, or .rtf extensions less than 500kb are allowed.</p>
									        </div>
									    </div>
									    <div class="form-group">
									        <div class="col-md-1">
									         	<h5>Resume.docs</h5>
									        </div>
									    </div>
									</div>
									<div class="row padding-style">
									  <div class="col-md-12">
									  	<h5></br><b>Enter Captch Code</b></h5>
									  	<div class="">
									  		<img src="public/images/capcha.png" width="221px">
									  	</div>
									  	<div class="code-style">
											<input type="text" class="form-control style-form" placeholder="Catcha Code">
										</div>
										<div class="col-md-12">
									         	<button type="button" class="btn btn-primary ">Submit</button>
									     </div>
									  </div>
									</div>
								</div>
							</div>
				   		 </div>
				    </div>
                </div>
                <pi-sidebar></pi-sidebar>
            </div>
            </div>
        </div>

    </section>
<pi-footer class="move-LeftEffects"></pi-footer>
