<div class="main-container" style="margin-bottom:70px;">
    <div class="section paddingTB-lg">
        <div class="container block1">
            <form class="form-horizontal" action="https://outsource.com/job-request" data-parsley-validate id="proposal-form" method="post" enctype="multipart/form-data">
                <input type="hidden" name="cmd" value="_bid_new_product" />
                <input type="hidden" name="id" value="83852869" />
                <input type="hidden" id="servicefee" value="0" />
                <div class="row">
                    <div class="col-md-8">
                        <div class="font-lato font-24">
                            <span class="font-ultra-bold">{{details[0].position}}</span>
                            <!---->
                            <!--(0)-->
                        </div>
                        <div class="m-top-10 font-16">
                            <p>{{details[0].emp_id.name}} is looking for a {{details[0].position}} to join our team.</p>

                            <p>This role will work within our Design & Innovation division on company software products and applications. This is a {{details[0].employmentbasis}}, telecommute position (within the U.S. only).</p>
                        </div>
                        <hr class="line-dotted m-top-30 m-bottom-30">


                        <div class="font-18 font-lato font-ultra-bold">
                            Requirements</div>
                        <div class="row m-top-20">
                            <div class="col-sm-12 col-xs-12 m-top-10-xs">
                                <ul ng-repeat="re">
                                    <li ng-repeat="required in details[0].requirements">{{required.require}}</li>
                                </ul>
                                <h4 class="font-ultra-bold">You...</h4>
                                <ul>
                                    <li ng-repeat="qulified in details[0].qualification">{{qulified.qualify}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="font-18 font-lato font-ultra-bold m-top-30">
                            About {{details[0].emp_id.name}}</div>
                        <div class="row m-top-20">
                            <div class="col-sm-12 col-xs-12 m-top-10-xs">
                                <p>{{details[0].emp_id.overview}} </p>
                            </div>
                        </div>

                        <div class="font-18 font-lato font-ultra-bold m-top-20">Message</div>
                        <p class="font-16 m-top-10 m-bottom-20">Introduce yourself and describe why you are a great candidate for this project.</p>
                        <textarea class="form-control" onkeyup="parsleyLeft(this)" data-parsley-length="[100, 5000]" rows="12" data-parsley-group="block1" data-parsley-rangelength="[100,5000]" data-parsley-minlength="100" data-parsley-maxlength="5000" maxlength="5000" rows="12" required name="proposals" id="proposals" placeholder="Enter your message here.." onfocus="if($(this).val() == $(this).attr('placeholder')) { $(this).val(''); }" onclick="if($(this).val() == $(this).attr('placeholder')) { $(this).val(''); }" onblur="if($(this).val() == '') { $(this).val( $(this).attr('placeholder')); }">Enter your message here..</textarea>
                        <div class="col-md-12 text-right">
                            <span class="left">5000</span>characters left</div>
                        <div class="checkbox m-left-10 m-top-5 file_uploader">
                            <label>
                              <input type="checkbox"> <i class="fa fa-paperclip m-right-5"></i> Attach a Resume
                            </label>
                        </div>

                        <!-- ./row -->

                        <hr class="line-dotted m-top-30 m-bottom-40">
                        <div class="m-top-40 m-left-20 m-bottom-40-sm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="javascript:void(0);" onClick="submitQuote(1)" class="btn btn-primary btn-wide font-16">Apply Now<i class="fa fa-angle-double-right font-14 m-left-5"></i></a>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- ./row -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-grey bordered m-top-30 rounded padding-25">
                            <div class="font-semi-bold font-18 line-1">Posted on</div>
                            <span>{{details[0].datepost}}</span>

                            <h4 class="font-semi-bold m-top-30">Location</h4>
                            <address>
                                <span>
                                    {{details[0].emp_id.address}}
                                </span>
                            </address>

                            <h4 class="font-semi-bold m-top-30">Employment Basis</h4>
                            <address>
                                <span>
                                    <button class="btn btn-link">{{details[0].employmentbasis}}</button>
                                </span>
                            </address>

                            <h4 class="font-semi-bold m-top-30">Skills Required</h4>
                            <div class="m-top-20 m-bottom-10">
                                <a ng-repeat="skill in details[0].skills" href="#" class="skill-tag skill-sm font-12 m-right-10">{{skill.name}}</a>
                            </div>

                            <h4 class="font-semi-bold font-18 line-1">Company Profile</h4>
                            <div>{{details[0].emp_id.address}}</div>
                            <div class="m-top-5 font-semi-bold">
                                {{details[0].emp_id.name}}
                            </div>
                            <ul class="list-unstyled m-top-10">
                                <li class="m-bottom-5">
                                    <span class="font-semi-bold">Salary:</span>{{details[0].salary}}</li>
                                <li class="m-bottom-5">
                                    <span class="font-semi-bold">Website:</span>
                                    <a class="text-blue" href='{{details[0].emp_id.email}}'>visit {{details[0].emp_id.name}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <!-- ./col -->
                </div>
            </form>
            <!-- ./container -->
        </div>
        <!-- section -->
    </div>
    <!-- ./main-container -->
