<div class="main-container">
    <div class="section paddingT-40">
        <div class="container">
            <div class="font-lato font-30">
                <span class="font-ultra-bold">Find a Job</span>
            </div>
            <div class="font-16">We found
                <span class="pc-cnt">23</span>jobs that match your skills</div>
            <div class="row">
                <div class="col-md-5 col-md-offset-7">
                    <div class="input-group m-bottom-20">
                        <input ng-model="position" ng-change="searchCount()" type="text" class="form-control" placeholder="Search here..." id="search_name">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" onclick="searchText()"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row find-project-grid">
                <form class="form-horizontal search-form">
                    <input id="cmd" name="cmd" type="hidden" value="_search_job" />
                    <input id="text_search" name="text_search" type="hidden" value="" />
                    <input id="sortby" name="sortby" type="hidden" value="0" />
                    <input id="type" name="type" type="hidden" value="0" />
                    <input id="page" name="page" type="hidden" value="1" />
                    <div class="col-md-9">
                        <div class="bg-grey padding-10 paddingTB-5">
                            <div class="row row-merge">
                                <div class="col-xs-9 col-sm-push-3 text-right text-left-xs no-margin-xs">
                                    <span class="m-left-5 m-right-5">Filter By Places</span>
                                    <select ng-model="address" ng-change="searchCount()">
                                    <option ng-repeat="location in joblocation" value="{{location.town_cities_name}}">{{location.town_cities_name}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 col-sm-pull-9">
                                <span class="m-left-2 m-right-2">Sort</span>
                                    <select ng-model="reOrder">
                                      <option value="datepost">Date</option>
                                      <option value="name">Company</option>
                                      <option value="position">Job Title</option>
                                      <option value="YrsExp">Yrs Exp</option>
                                      <option vlue="salary">Salary</option>
                                      <option value="address">Location</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="project-list m-top-md">
                            <ul>
                                <li ng-repeat="jobs in filtered = (disJob | filter:position | filter:address | filter:filterMakes() ) | orderBy:reOrder | limitTo: limit">
                                    <a href="#/jobdetails/{{jobs._id}}" class="font-18 font-semi-bold">{{jobs.position}}</a>
                                    <!---->
                                    <div class="m-top-xs font-16">
                                        <span class="font-semi-bold">Employer:</span><a href="#/CompanyProfile/{{jobs.emp_id._id}}">{{jobs.emp_id.name}}</a> ( {{jobs.emp_id.email}} )</div>
                                    <div class="m-top-xs">
                                        <div class="inline-block">
                                            <span class="font-semi-bold">Address:</span>
                                            <span class="text-dark-green">{{jobs.emp_id.address}}</span>
                                        </div>
                                    </div>
                                    <div class="m-top-xs">
                                        <div class="inline-block">
                                            <span class="font-semi-bold">Salary:</span>
                                            <span class="text-dark-green">Php. {{jobs.salary}}</span>
                                            <span class="m-left-5 m-right-5">|</span>
                                        </div>
                                        <div class="inline-block">
                                            <span class="font-semi-bold">Years Exp. :</span>
                                            <span class="text-dark-green">{{jobs.YrsExp}}</span>
                                            <span class="m-left-5 m-right-5">|</span>
                                        </div>
                                        <div class="inline-block">
                                            <span class="font-semi-bold">Date Posted:</span>
                                            <span class="text-dark-green">{{jobs.datepost | date:'medium'}}</span>
                                        </div>
                                    </div>
                                    <div class="m-top-xs">
                                        <div class="inline-block" ng-repeat="qualify in jobs.qualification">
                                            <span class="font-semi-bold">Qualification:</span>
                                            <span class="text-dark-green" >{{qualify.qualify}}</span>
                                        </div>
                                    </div>
                                    <b class="font-16 m-top-20" style="color: #E77D16;">
                                        {{jobs.employmentbasis}}
                                    </b>

                                    <p class="font-16 m-top-20" ng-repeat="required in jobs.requirements">
                                        {{required.require}}
                                    </p>

                                    <div class="row m-top-30 ">
                                        <div class="col-sm-8">
                                            <div class="m-left-20 no-margin-xs">
                                                <div class="skill-tag skill-sm static-text m-right-10">
                                                    PHP
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ./col -->
                                        <div class="col-sm-4 text-right paddingR-20 m-top-40-xs">
                                            <a href="#/jobdetails/{{jobs._id}}" class="btn decline-btn">Apply Job</a>
                                        </div>
                                        <!-- ./col -->
                                    </div>
                                    <!-- ./row -->
                                </li>
                            </ul>
                            <div class="SearchPagination text-right">
                                <div class="alert pull-left small ng-binding">Showing 1 to <g ng-show="showmore == true">{{limit}}</g><g ng-show="showmore == false">{{filtered.length}}</g> of {{disJob.length}} entries</div>
                                <button ng-click="showMore()" class="btn btn-success btn-sm "><i class="glyphicon glyphicon-plus"></i> Show More</button>
                            </div>
                        </div>
                        <!-- ./project-list -->
                    </div>
                    <div class="col-md-3 m-bottom-40 hidden-xs hidden-sm filter-search">
                        <div class="bg-grey paddingB-40 paddingT-30 paddingLR-15">
                            <div class="font-16 font-semi-bold">Filter Search Results</div>
                            <div class="font-16 font-semi-bold m-top-20">Categories</div>
                            <div class="m-top-10 font-12" ng-repeat="cat in jobcategories">
                                <div class="custom-checkbox">
                                    <input type="checkbox" ng-model="useMakes[$index]" class="item-check checkbox-green" id="{{cat.value}}" name="checkbox[]">
                                    <label for="{{cat.value}}"></label>
                                </div>
                                {{cat.description}}
                            </div>
                            <hr class="line-dotted">
                            </hr>

                        </div>
                    </div>
                    <!-- .col -->
                </form>
            </div>
            <!-- ./row -->

        </div>
        <!-- ./container -->
    </div>
    <!-- section -->
</div>
