<div class="main-container no-bottom-space">
  <div class="section section-border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="font-lato font-30 text-center m-top-40"> Create an <span class="font-ultra-bold">Account</span> </div>
          <p class="text-center font-16">What are you looking to do?</p>
          <div class="row m-top-30 m-bottom-40">
            <div class="col-sm-6">
              <div class="signup-option-widget fadeInDown" id="signupType1">
                <div class="font-21 font-semi-bold">I want to hire</div>
                <p class="m-top-10">Find the best applicants for your job</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="signup-option-widget fadeInDown animation-delay1" id="signupType2">
                <div class="font-21 font-semi-bold">I want to work</div>
                <p class="m-top-10">Earn money and grow your business</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./container -->
  </div>
  <!-- ./section -->

  <div class="section bg-grey">
    <div class="container">
      <div class="text-center m-top-40 m-bottom-100"> <a class="btn btn-primary btn-lg fadeInUp animation-delay2" id="continueSignup">Continue<i class="fa fa-angle-double-right m-left-5"></i></a> </div>
    </div>
    <!-- ./container -->
  </div>
</div>
