<div class="main-container">
    <div class="container">
        <div class="signup-widget widget-sm">
            <div class="text-center">
                <div class="font-30 font-lato">
                    <span class="font-ultra-bold">JOB SEEKER Account</span>
                </div>
            </div>
            <form role="form" name="loginForm" class="m-top-md" ng-submit="submitForm(loginForm.$valid)" id="login" data-parsley-validate novalidate>
                <div class="form-group has-feedback feedback-left" style="float:left;">
                    <label class="font-normal">Email Address:</label>
                    <input class="form-control custom-input" type="email" name="username" ng-model="user.username" data-parsley-group="block1" data-parsley-required-message="The email address you entered has invalid" required value="" size="35" id="username">
                    <span class="fa fa-edit fa-lg form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback feedback-left" style="float:left;">
                    <label class="font-normal">Password:</label>
                    <input type="password" class="form-control custom-input" name="password" id="password" ng-model="user.password" size="35" data-parsley-group="block1" data-parsley-required-message="The password you entered has invalid" required />
                    <input type="hidden" name="login_process" value="1" />
                    <input type="hidden" name="md5pass" />
                    <input type="hidden" name="md5pass_utf" />
                    <span class="fa fa-lock fa-lg form-control-feedback"></span>
                </div>
                <div class="m-top-40 text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-wide">Login <i class="fa fa-angle-double-right"></i>
                    </button>
                    <div class="font-12 m-top-20">forgot <a href="#/recovery">password</a>?</div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="m-top-10 text-center">
                <a href="/auth/facebook" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="/auth/google" class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="/auth/twitter" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
if ($('#password').val() != '') {
    $("#password-val").hide();
}

function password_autocom() {
    if ($('#password').val() != '') {
        $("#password-val").hide();
    } else {
        $("#password-val").show();
    }
}

function password_chk() {
    $("#password-val").hide();
    $("#password").focus();

}

function u_chk() {
    if ($("#username").val() == 'Email') {
        $("#username").val('');
    }
}

function password_blur(obj) {

    if ($(obj).val() == '') {
        $("#password-val").show();
        $(obj).removeClass("input-bx-act");
    } else {
        $(obj).addClass("input-bx-act");
    }
}

function password_rem(obj) {
    $("#password-val").hide();
}

function u_blur(obj) {
    if ($("#username").val() == '') {
        $("#username").val('Email');
        $("#username").removeClass("input-bx-act");
    } else {
        $("#username").addClass("input-bx-act");
    }
}

function replaceBrwithNewline(str) {
    return str.replace(/<br\s*[\/]?>/gi, "\n");
}
</script>
