<div class="main-container no-bottom-space">
    <div class="section section-border-bottom paddingB-40">
        <div class="container">
            <div class="paddingTB-40">
                <div class="row">
                    <div class="col-md-6">
                        <div class="font-30 font-ultra-bold font-lato line-1">
                            My Profile
                        </div>
                        <div class="font-18 m-top-10 m-bottom-20">
                            Update/Edit Your Profile
                        </div>
                    </div>
                </div>
                <!-- ./row -->
            </div>
            <!-- ./paddingTB -->
        </div>
        <!-- ./container -->
    </div>
    <div class="section">
        <div class="bg-grey">
            <div class="container">
                <tabset class="custom-tab">
                    <tab active="tab.active">
                        <tab-heading>
                            Overview
                        </tab-heading>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-24 font-semi-bold line-1">Profile Overview</div>
                                        <form role="form" data-parsley-validate name="userForm" id="userForm" class="form-horizontal m-top-40">
                                            <input type="hidden" name="cmd" value="_add_lancer_detail" />
                                            <input type="hidden" name="zipcode" value="0" />
                                            <input type="hidden" name="subcmd" value="profile_page" />
                                            <div class="form-group">
                                                <label for="desiredSalary" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Desired Salary:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input type="text" class="form-control style-form" id="desiredSalary" name="desiredSalary" ng-model="UserProfile.desiredSalary" required placeholder="Desired Salary" data-parsley-group="block-account" data-parsley-required-message="Please enter your desired Salary">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Add Photo :</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail" style="width: 143px; height: 143px;">
                                                            <!-- <img src="public/images/no-image.png" width="143" height="143"> -->
                                                            <img src="../public/img/photo.jpg" alt="..." class="img-rounded">
                                                        </div>
                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 143px; max-height: 143px;"></div>
                                                        <div>
                                                            <span class="btn btn-primary btn-file">
                                                                <span class="fileinput-new">Select image</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" name="photo" id="photo" ng-model="UserProfile.photo">
                                                            </span>
                                                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            <p class="text-muted m-top-10">
                                                                <small>Tip: Add a professional photo of yourself to attract more clients.</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Description :</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <textarea class="form-control leftchar" onkeyup="parsleyLeft(this)" data-parsley-length="[100, 3000]" rows="12" ng-model="UserProfile.qualification" id="qualification" name="qualification" data-parsley-group="block-account" required data-parsley-rangelength="[100,3000]" data-parsley-minlength="100" data-parsley-maxlength="3000" maxlength="3000">
                                                    </textarea>
                                                    <div class="col-md-12 text-right">
                                                        <span class="left">3000</span>characters left</div>
                                                    <p class="block text-muted font-12 m-top-10">Outsource is built on trust. Help clients get to know you and your professional background.</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Upload Resume :</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                        <div class="form-control" data-trigger="fileinput">
                                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                            <span class="fileinput-filename"></span>
                                                        </div>
                                                        <span class="input-group-addon btn btn-primary btn-file">
                                                            <span class="fileinput-new">Select file</span>
                                                            <span class="fileinput-exists">Change</span>
                                                            <input type="text" ng-model="myModelObj">
                                                            <input id="file" type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null">
                                                        </span>
                                                        <a href="#" class="input-group-addon btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                    </div>
                                                    <button type="button" class="btn btn-success btn-sm" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span>Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-sm" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span>Cancel
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left"></label>
                                                <div class="col-sm-9 col-lg-7 text-right"> <a class="btn btn-danger btn-wide" ng-click="saveUserOverview();">Save</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- ./container -->
                                </div>
                                <!-- ./bg-grey -->
                            </div>
                            <!-- overview tab -->
                        </div>
                        <!-- ./tab-content -->
                    </tab>
                    <tab>
                        <tab-heading>
                            Educational Background
                        </tab-heading>
                        <div id="educationalContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-24 font-semi-bold line-1">Educational Background</div>
                                        <form role="form" data-parsley-validate name="educForm" id="educForm" class="form-horizontal m-top-40">

                                            <div class="font-20 font-semi-bold line-1 m-top-10 m-bottom-20">ELEMENTARY</div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">School Name:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="elem_schoolname" id="elem_schoolname" type="text" class="form-control" ng-model="UserEduc.education.elementary.schoolname" placeholder="School Name" required data-parsley-group="block-account" data-parsley-required-message="Please enter School Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Year Graduated:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="elem_year" id="elem_year" type="text" class="form-control" ng-model="UserEduc.education.elementary.year" placeholder="Year Graduated" required data-parsley-group="block-account" data-parsley-required-message="Please enter Year Graduated">
                                                </div>
                                            </div>

                                            <div class="font-20 font-semi-bold line-1 m-top-10 m-bottom-20">SECONDARY</div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">School Name:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="second_schoolname" id="second_schoolname" type="text" class="form-control" ng-model="UserEduc.education.secondary.schoolname" placeholder="School Name" required data-parsley-group="block-account" data-parsley-required-message="Please enter School Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Year Graduated:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="second_year" id="second_year" type="text" class="form-control" ng-model="UserEduc.education.secondary.year" placeholder="Year Graduated" required data-parsley-group="block-account" data-parsley-required-message="Please enter Year Graduated">
                                                </div>
                                            </div>

                                            <div class="font-20 font-semi-bold line-1 m-top-10 m-bottom-20">UNDER GRAD.</div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">School Name:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="under_schoolname" id="under_schoolname" type="text" class="form-control" ng-model="UserEduc.education.under_grad.schoolname" placeholder="School Name" required data-parsley-group="block-account" data-parsley-required-message="Please enter School Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Course:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="under_course" id="under_course" type="text" class="form-control" ng-model="UserEduc.education.under_grad.course" placeholder="Course" required data-parsley-group="block-account" data-parsley-required-message="Please enter Course">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Year Graduated:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="under_year" id="under_year" type="text" class="form-control" ng-model="UserEduc.education.under_grad.year" placeholder="Year Graduated" required data-parsley-group="block-account" data-parsley-required-message="Please enter Year Graduated">
                                                </div>
                                            </div>

                                            <div class="font-20 font-semi-bold line-1 m-top-10 m-bottom-20">POST GRAD.</div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">School Name:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="post_schoolname" id="post_schoolname" type="text" class="form-control" ng-model="UserEduc.education.post_grad.schoolname" placeholder="School Name" required data-parsley-group="block-account" data-parsley-required-message="Please enter School Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Course:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="post_course" id="post_course" type="text" class="form-control" ng-model="UserEduc.education.post_grad.course" placeholder="Course" required data-parsley-group="block-account" data-parsley-required-message="Please enter Course">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left">Year Graduated:</label>
                                                <div class="col-sm-9 col-lg-7">
                                                    <input name="post_year" id="post_year" type="text" class="form-control" ng-model="UserEduc.education.post_grad.year" placeholder="Year Graduated" required data-parsley-group="block-account" data-parsley-required-message="Please enter Year Graduated">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left"></label>
                                                <div class="col-sm-9 col-lg-7 text-right"> <a class="btn btn-danger btn-wide" ng-click="saveUserEducation()">Save</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- ./container -->
                                </div>
                                <!-- ./bg-grey -->
                            </div>
                            <!-- overview tab -->
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Skills And Specialization
                        </tab-heading>
                        <div id="skillsContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-30 font-semi-bold line-1">Specialization</div>
                                        <form role="form" data-parsley-validate name="educForm" class="form-horizontal m-top-40">
                                            <div class="form-group">
                                                <button ng-click="openSpecialization();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Specialization
                                                </button>
                                            </div>
                                            <div class="form-group">
                                                <div class="m-top-25 m-left-20 font-12">
                                                    <div class="skill-tag skill-sm m-right-10" ng-repeat="skill in UserSpecial.specialization" ng-hide="UserSpecial.specialization.length">{{skill.specialization}}</div>
                                                </div>
                                            </div>
                                        </form>
                                        <hr>
                                        <div class="font-30 font-semi-bold line-1">Skills</div>
                                        <form role="form" data-parsley-validate name="educForm" class="form-horizontal m-top-40">
                                            <div class="form-group">
                                                <button ng-click="addSkills();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Skills
                                                </button>
                                            </div>
                                            <div class="form-group" ng-repeat="skill in UserSkills.skills">
                                                <div class="form-group">
                                                    <div class="col-sm-8 col-lg-8">
                                                        <!-- <input ng-model="skill.skill_name" class="form-control" placeholder="Skill" name="skill_name"> -->
                                                        <ui-select ng-model="skill.skill_name.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 500px;">
                                                            <ui-select-match placeholder="Enter an Skills...">{{$select.selected.skills_name}}</ui-select-match>
                                                            <ui-select-choices repeat="address in allSkills" refresh="refreshSkills($select.search)" refresh-delay="0">
                                                                <div ng-bind-html="address.skills_name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                    <div class="col-sm-3 col-lg-3">
                                                        <select name="proficiecy" id="proficiecy" class="form-control" ng-model="skill.proficiency">
                                                            <option ng-repeat="item in proficiency" value="{{item.value}}">
                                                                {{item.description}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-1 col-lg-1">
                                                        <a ng-click="deleteSkills($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="text-center">
                                            <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left"></label>
                                            <div class="col-sm-9 col-lg-7 text-right"> <a class="btn btn-danger btn-wide" ng-click="saveUserSkills()">Save</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Training
                        </tab-heading>
                        <div id="skillsContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-24 font-semi-bold line-1">Training</div>
                                        <form role="form" data-parsley-validate name="educForm" class="form-horizontal m-top-40">
                                            <div class="form-group">
                                                <button ng-click="addTraining();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Training
                                                </button>
                                            </div>
                                            <div class="form-group col-md-12" ng-repeat="trainings in UserTraining.training">
                                                <div class="col-md-4">
                                                    <textarea row="10" ng-maxlength="2000" ng-model="trainings.name" class="form-control" class="form-control" placeholder="Skill" name="skill_name"></textarea>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <input type="text" name="trainingdate" id="trainingdate" class="form-control" show-weeks="true" datepicker-popup="yyyy/MM/dd" ng-model="trainings.date" is-open="$parent.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ui-date/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <input ng-model="trainings.trainor" class="form-control" class="form-control" placeholder="Trainor" name="skill_year_exp" type="text" value="">
                                                </div>
                                                <div class="col-md-1">
                                                    <a ng-click="deleteTraning($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left"></label>
                                                <div class="col-sm-9 col-lg-7 text-right"> <a class="btn btn-danger btn-wide" ng-click="saveUserTraining()">Save</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            Professional Experience
                        </tab-heading>
                        <div id="skillsContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overviewTab">
                                <div class="bg-grey paddingT-40 paddingB-100">
                                    <div class="container">
                                        <div class="font-24 font-semi-bold line-1">Professional Experience</div>
                                        <form role="form" data-parsley-validate name="proForm" id="proForm" class="form-horizontal m-top-40" novalidate>
                                            <div class="row">
                                                <div class="col-md-12"  ng-repeat="work in UserWork.workExperienced">
                                                    <div class="form-group">
                                                        <input type="hidden" name="pid[]" value="6619">

                                                        <label for="companyName" class="col-sm-3 control-label font-semi-bold font-14 text-left">Company Name :</label>
                                                        <div class="col-sm-9 col-md-7">
                                                            <input type="text" class="form-control" ng-model="work.companyName" id="companyname" name="companyname[]" required data-parsley-group="block-account" data-parsley-required-message="Please enter Company Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="title" class="col-sm-3 control-label font-semi-bold font-14 text-left">Title :</label>
                                                        <div class="col-sm-9 col-md-7">
                                                            <input type="text" class="form-control"  ng-model="work.responsibility" id="title" name="title[]" required data-parsley-group="block-account" data-parsley-required-message="Please enter Job Title">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="location" class="col-sm-3 control-label font-semi-bold font-14 text-left">Location :</label>
                                                        <div class="col-sm-9 col-md-7">
                                                            <input type="text" class="form-control" ng-model="work.location" id="location" name="location[]" required data-parsley-group="block-account" data-parsley-required-message="Please enter Company Location">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label font-semi-bold font-14 text-left">Time Period :</label>
                                                        <div class="col-sm-9 col-md-7">
                                                            <div class="inline-block m-bottom-sm">
                                                                <select class="form-control inline-block m-right-xs" style="width:100px;" id="smpday" name="smpday[]" required data-parsley-group="block-account">
                                                                    <option value="">Month</option>
                                                                    <option value="January">January</option>
                                                                    <option value="February">February</option>
                                                                    <option value="March">March</option>
                                                                    <option value="April">April</option>
                                                                    <option value="May" selected="selected">May</option>
                                                                    <option value="June">June</option>
                                                                    <option value="July">July</option>
                                                                    <option value="August">August</option>
                                                                    <option value="September">September</option>
                                                                    <option value="October">October</option>
                                                                    <option value="November">November</option>
                                                                    <option value="December">December</option>
                                                                </select>
                                                                <select class="form-control inline-block" style="width:70px;" id="sypday" name="sypday[]" required data-parsley-group="block-account">
                                                                    <option value="">Year</option>
                                                                    <option value="2015">2015</option>
                                                                    <option value="2014">2014</option>
                                                                    <option value="2013">2013</option>
                                                                    <option value="2012">2012</option>
                                                                    <option value="2011">2011</option>
                                                                    <option value="2010">2010</option>
                                                                    <option value="2009">2009</option>
                                                                    <option value="2008">2008</option>
                                                                    <option value="2007">2007</option>
                                                                    <option value="2006">2006</option>
                                                                    <option value="2005">2005</option>
                                                                    <option value="2004">2004</option>
                                                                    <option value="2003">2003</option>
                                                                    <option value="2002">2002</option>
                                                                    <option value="2001">2001</option>
                                                                    <option value="2000">2000</option>
                                                                    <option value="1999">1999</option>
                                                                    <option value="1998">1998</option>
                                                                    <option value="1997">1997</option>
                                                                    <option value="1996">1996</option>
                                                                    <option value="1995">1995</option>
                                                                    <option value="1994">1994</option>
                                                                    <option value="1993">1993</option>
                                                                    <option value="1992">1992</option>
                                                                    <option value="1991">1991</option>
                                                                    <option value="1990">1990</option>
                                                                    <option value="1989">1989</option>
                                                                    <option value="1988">1988</option>
                                                                    <option value="1987">1987</option>
                                                                    <option value="1986">1986</option>
                                                                    <option value="1985">1985</option>
                                                                    <option value="1984">1984</option>
                                                                    <option value="1983">1983</option>
                                                                    <option value="1982">1982</option>
                                                                    <option value="1981">1981</option>
                                                                    <option value="1980">1980</option>
                                                                    <option value="1979">1979</option>
                                                                    <option value="1978">1978</option>
                                                                    <option value="1977">1977</option>
                                                                    <option value="1976">1976</option>
                                                                    <option value="1975">1975</option>
                                                                    <option value="1974">1974</option>
                                                                    <option value="1973">1973</option>
                                                                    <option value="1972">1972</option>
                                                                    <option value="1971">1971</option>
                                                                    <option value="1970">1970</option>
                                                                    <option value="1969">1969</option>
                                                                    <option value="1968">1968</option>
                                                                    <option value="1967">1967</option>
                                                                    <option value="1966">1966</option>
                                                                    <option value="1965">1965</option>
                                                                    <option value="1964">1964</option>
                                                                    <option value="1963">1963</option>
                                                                    <option value="1962">1962</option>
                                                                    <option value="1961">1961</option>
                                                                    <option value="1960">1960</option>
                                                                </select>
                                                            </div>
                                                            <span class="m-left-xs m-right-xs chide">to</span>
                                                            <div class="inline-block chide">
                                                                <select class="form-control inline-block m-right-xs" style="width:100px;" id="empday" name="empday[]">
                                                                    <option value="">Month</option>
                                                                    <option value="January">January</option>
                                                                    <option value="February">February</option>
                                                                    <option value="March">March</option>
                                                                    <option value="April" selected="selected">April</option>
                                                                    <option value="May">May</option>
                                                                    <option value="June">June</option>
                                                                    <option value="July">July</option>
                                                                    <option value="August">August</option>
                                                                    <option value="September">September</option>
                                                                    <option value="October">October</option>
                                                                    <option value="November">November</option>
                                                                    <option value="December">December</option>
                                                                </select>
                                                                <select class="form-control inline-block" style="width:70px;" id="eypday" name="eypday[]">
                                                                    <option value="">Year</option>
                                                                    <option value="2015">2015</option>
                                                                    <option value="2014">2014</option>
                                                                    <option value="2013">2013</option>
                                                                    <option value="2012">2012</option>
                                                                    <option value="2011">2011</option>
                                                                    <option value="2010">2010</option>
                                                                    <option value="2009">2009</option>
                                                                    <option value="2008">2008</option>
                                                                    <option value="2007">2007</option>
                                                                    <option value="2006">2006</option>
                                                                    <option value="2005">2005</option>
                                                                    <option value="2004">2004</option>
                                                                    <option value="2003">2003</option>
                                                                    <option value="2002">2002</option>
                                                                    <option value="2001">2001</option>
                                                                    <option value="2000">2000</option>
                                                                    <option value="1999">1999</option>
                                                                    <option value="1998">1998</option>
                                                                    <option value="1997">1997</option>
                                                                    <option value="1996">1996</option>
                                                                    <option value="1995">1995</option>
                                                                    <option value="1994">1994</option>
                                                                    <option value="1993">1993</option>
                                                                    <option value="1992">1992</option>
                                                                    <option value="1991">1991</option>
                                                                    <option value="1990">1990</option>
                                                                    <option value="1989">1989</option>
                                                                    <option value="1988">1988</option>
                                                                    <option value="1987">1987</option>
                                                                    <option value="1986">1986</option>
                                                                    <option value="1985">1985</option>
                                                                    <option value="1984">1984</option>
                                                                    <option value="1983">1983</option>
                                                                    <option value="1982">1982</option>
                                                                    <option value="1981">1981</option>
                                                                    <option value="1980">1980</option>
                                                                    <option value="1979">1979</option>
                                                                    <option value="1978">1978</option>
                                                                    <option value="1977">1977</option>
                                                                    <option value="1976">1976</option>
                                                                    <option value="1975">1975</option>
                                                                    <option value="1974">1974</option>
                                                                    <option value="1973">1973</option>
                                                                    <option value="1972">1972</option>
                                                                    <option value="1971">1971</option>
                                                                    <option value="1970">1970</option>
                                                                    <option value="1969">1969</option>
                                                                    <option value="1968">1968</option>
                                                                    <option value="1967">1967</option>
                                                                    <option value="1966">1966</option>
                                                                    <option value="1965">1965</option>
                                                                    <option value="1964">1964</option>
                                                                    <option value="1963">1963</option>
                                                                    <option value="1962">1962</option>
                                                                    <option value="1961">1961</option>
                                                                    <option value="1960">1960</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-top-md">
                                                        <label for="professionalTitle" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-7">
                                                            <div class="custom-checkbox">
                                                                <input type="checkbox" class="item-check" value="1" id="pwork6619" name="pwork[]">
                                                                <label for="pwork6619"></label>
                                                            </div>
                                                            I still work here</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label font-semi-bold font-14 text-left">Description :</label>
                                                        <div class="col-sm-7">
                                                            <textarea rows="12" class="form-control" ng-model="work.description" id="description" name="description[]" required data-parsley-group="block-account" data-parsley-required-message="Please enter Job Description"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-top-md rm-position">
                                                        <label for="professionalTitle" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-7 text-right">
                                                            <a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteWorkExperienced($index);"><i class="fa fa-trash"></i> Remove</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group m-top-md">
                                                <label for="professionalTitle" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-7 text-right">
                                                    <div>
                                                        <button ng-click="addWorkExperienced();" class="btn btn-primary btn-wide"><i class="glyphicon glyphicon-plus"></i> Add Work Experienced
                                                        </button>
                                                    </div>
                                                    <div class="m-top-10"> <a href="javascript:void(0);" class="btn btn-danger btn-wide submit-btn-info" ng-click="saveUserWork()">Save <i class="fa fa-angle-double-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="professionalTitle" class="col-lg-2 col-sm-3 control-label font-normal font-14 text-left"></label>
                                    <div class="col-sm-9 col-lg-7 text-right"> <a class="btn btn-danger btn-wide" ng-click="saveUserWork()">Save</a>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
        </tab>
        </tabset>
    </div>
</div>
</div>
</div>

<script type="text/ng-template" id="editCategories.html">
    <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <div class="font-30 font-lato">What Type of
                    <span class="font-ultra-bold">Specialization are You Looking For?</span>
                </div>
                <div class="row m-top-10 m-bottom-10">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="line-28">Select the categories that best match your skill set. We will use this information to match you to the best jobs. Select up to 20 categories below.</p>
                    </div>
                </div>
            </div>

            <div class="row font-12">
                <div class="col-md-4" ng-repeat="categories in jobcategories" ng-hide="!categories.subcategory.length">
                    <div class="font-14 font-semi-bold m-bottom-20 m-top-20">{{categories.description}}</div>
                    <div class="m-top-10" ng-repeat="cat in categories.subcategory">
                        <div class="custom-checkbox">
                            <input type="checkbox" id="{{cat.value}}" class="item-check" name="subcat[]" value="{{cat.value}}-{{categories.value}}">
                            <label for="{{cat.value}}"></label>
                        </div>
                        {{cat.description}}
                    </div>
                </div>
            </div>
            <div class="m-top-40 text-center">
                <button ng-click="saveUserSpecialization()" type="button" class="btn btn-danger">Save Changes</button>
                <button type="button" class="btn btn-inverse m-left-10" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script>

<!-- <script type="text/ng-template" id="editSkills.html">
    <div class="modal-content">
        <div class="modal-body">
            <div class="text-center">
                <div class="font-30 font-lato">What Type of
                    <span class="font-ultra-bold">Specialization are You Looking For?</span>
                </div>
                <div class="row m-top-10 m-bottom-10">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="line-28">Select the categories that best match your skill set. We will use this information to match you to the best jobs. Select up to 20 categories below.</p>
                    </div>
                </div>
            </div>

            <div class="row font-12">
                <div class="col-md-4" ng-repeat="categories in jobcategories" ng-hide="!categories.subcategory.length">
                    <div class="font-14 font-semi-bold m-bottom-20 m-top-20">{{categories.description}}</div>
                    <div class="m-top-10" ng-repeat="cat in categories.subcategory">
                        <div class="custom-checkbox">
                            <input type="checkbox" id="{{cat.value}}" class="item-check s12" name="subcat[]" value="{{cat.value}}">
                            <label for="{{cat.value}}"></label>
                        </div>
                        {{cat.description}}
                    </div>
                </div>
            </div>
            <div class="m-top-40 text-center">
                <button type="button" class="btn btn-danger" id="updatecats">Save Changes</button>
                <button type="button" class="btn btn-inverse m-left-10" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</script> -->
