<div class="main-container large-top-nav">
    <div class="section">
        <div class="container">
            <div class="paddingTB-lg">
                <div class="font-lato font-30 font-ultra-bold">Your Notifications</div>

                <p class="paddingTB-lg">You have no new notifications.</p>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- ./section -->
</div>

<script>
$('.notification-list span').css('color', '#428bca');
$('.notification-list span').css('cursor', 'pointer');
</script>
<script>
function notifylocations(url) {
    window.location = url;
}
</script>
