<pi-header class="scale-Effects"></pi-header>
<section>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-lg-10 style-col1">
                <div class="col-md-12 style-col1">
                    <div class="Search-form">
                        <form class="form-inline input-style" role="form">
                            <div class="form-group">
                                <input type="text" placeholder="Search Here" class="form-control">
                            </div>
                            <select class="form-control combo-style" ng-model="newlocation" ng-options="location.town_cities_name for location in joblocation">
                               </select>
                               <select class="form-control combo-style">
                                    <option ng-repeat="cat in jobcategories" value="{{cat.value}}">{{cat.description}}</option>
                               </select>
                            <a href="#/JobSeeker" type="button" class="btn btn-primary btn-sm">Search</a>
                        </form>
                        <br>
                        <a href="#/my-profile" class="btn btn-link">View Profile as Client</a>
                    </div>

                    <tabset class="panel-success">
                        <tab active="tab.active">
                            <tab-heading>
                                Personal Information
                            </tab-heading>
                            <div class="panel panel-success">
                                <form name="userForm" novalidate>
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Personal Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label for="FirstName">First Name:</label>
                                                    <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="UserProfile.FirstName" required placeholder="First Name">
                                                    <p class="help-block" ng-if="userForm.FirstName.$error.required">Please enter your First Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label for="LastName">Last Name:</label>
                                                    <input type="text" class="form-control" id="LastName" name="LastName" ng-model="UserProfile.LastName" required placeholder="Last Name">
                                                    <p class="help-block" ng-if="userForm.LastName.$error.required">Please enter your Last Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="email">Email:</label>
                                                    <input type="email" class="form-control" id="email" name="email" ng-model="UserProfile.email" required placeholder="Email">
                                                    <p class="help-block" ng-if="userForm.email.$error.required">Please enter an Email Address</p>
                                                    <p class="help-block" ng-if="userForm.email.$error.email">Email address needs to be in the format yourname@domain.com.</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="age">Age:</label>
                                                    <input type="number" class="form-control" id="age" name="age" ng-model="UserProfile.age" placeholder="Age">
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label for="desiredSalary">Desired Salary:</label>
                                                    <input type="text" class="form-control style-form" id="desiredSalary" name="desiredSalary" ng-model="UserProfile.desiredSalary" required placeholder="Desired Salary">
                                                    <p class="help-block" ng-if="userForm.desiredSalary.$error.required">Please enter your desired Salary</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label for="address">Address:</label>
                                                    <textarea class="form-control" rows="3" ng-model="UserProfile.address" id="address" name="address" required placeholder="Address"></textarea>
                                                    <p class="help-block" ng-if="userForm.address.$error.required">Please enter your Address</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Birthdate:</label>
                                                    <div class="input-group">
                                                        <input type="text" name="birthdate" id="birthdate" class="form-control" show-weeks="true" datepicker-popup="yyyy/MM/dd" ng-model="UserProfile.birthdate" is-open="$parent.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <p class="help-block" ng-if="userForm.birthdate.$error.required">Please enter your Birthday</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Gender:</label>
                                                    <select class="form-control style-form" ng-model="UserProfile.gender" id="gender" name="gender" required placeholder="Gender">
                                                        <option>
                                                            Male
                                                        </option>
                                                        <option>
                                                            Female
                                                        </option>
                                                    </select>
                                                    <p class="help-block" ng-if="userForm.gender.$error.required">Please select Gender</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="height">Height:</label>
                                                    <input type="text" class="form-control style-form" id="height" name="height" ng-model="UserProfile.height" placeholder="Height">
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Description:</label>
                                                    <textarea class="form-control" rows="12" ng-maxlength="3000" ng-minlength="100" ng-model="UserProfile.qualification" id="qualification" name="qualification" required placeholder="Qualification"></textarea>
                                                    <p class="help-block" ng-if="userForm.qualification.$error.required">Please enter your Qualification</p>
                                                    <p ng-show="regForm.qualification.$error.minlength" class="help-block">User Qualification is too short.</p>
                                                    <p ng-show="regForm.qualification.$error.maxlength" class="help-block">User Qualification is too long.</p>
                                                </div>
                                                <div class="form-group">
                                                    <button ng-click="addContact();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Contacts
                                                    </button>
                                                </div>
                                                <div class="form-group" ng-repeat="contact in UserProfile.contacts">
                                                    <div class="form-group col-md-5">
                                                        <select ng-model="contact.contact_type" class="form-control combo-style" id="type" name="type">
                                                            <option value="Landline">Landline</option>
                                                            <option value="Mobile">Mobile</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input ng-model="contact.contact_number" class="form-control" class="form-control" placeholder="Contact Number" name="number" id="number" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-1">
                                                        <a ng-click="deleteContact($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- <img src="public/images/no-image.png" width="143" height="143"> -->
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail" style="width: 143px; height: 143px;">
                                                        <img src="public/images/no-image.png" width="143" height="143">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 143px; max-height: 143px;"></div>
                                                    <div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileinput-new">Select image</span>
                                                            <span class="fileinput-exists">Change</span>
                                                            <input type="file" name="photo" id="photo" file-model="UserProfile.photo">
                                                        </span>
                                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                    </div>
                                                </div>

                                                <h3>Upload Resume:</h3>
                                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                  <div class="form-control" data-trigger="fileinput">
                                                  <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                  <span class="fileinput-filename"></span></div>
                                                  <span class="input-group-addon btn btn-default btn-file">
                                                    <span class="fileinput-new">Select file</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="text" ng-model="myModelObj">
                                                    <input id="file" type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null">
                                                  </span>
                                                  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                </div>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row text-center">
                                                <div class="col-xs-9">

                                                </div>
                                                <div class="col-xs-3">
                                                    <button ng-click="saveUserPersonalInfo();" type="button" class="btn btn-success btn-block">
                                                        Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                Educational Background
                            </tab-heading>
                            <form role="form" name="educForm" novalidate>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Educational Background</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>ELEMENTARY</h3>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>School Name:</label>
                                                    <input name="elem_schoolname" id="elem_schoolname" type="text" class="form-control" ng-model="UserEduc.education.elementary.schoolname" placeholder="School Name" required>
                                                    <p class="help-block" ng-if="educForm.elem_schoolname.$error.required">Please enter School Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Year Graduated:</label>
                                                    <input name="elem_year" id="elem_year" type="text" class="form-control" ng-model="UserEduc.education.elementary.year" placeholder="Year Graduated" required>
                                                    <p class="help-block" ng-if="educForm.elem_year.$error.required">Please enter Year Graduated</p>
                                                </div>
                                                <h3>SECONDARY</h3>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>School Name:</label>
                                                    <input name="second_schoolname" id="second_schoolname" type="text" class="form-control" ng-model="UserEduc.education.secondary.schoolname" placeholder="School Name" required>
                                                    <p class="help-block" ng-if="educForm.second_schoolname.$error.required">Please enter School Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Year Graduated:</label>
                                                    <input name="second_year" id="second_year" type="text" class="form-control" ng-model="UserEduc.education.secondary.year" placeholder="Year Graduated" required>
                                                    <p class="help-block" ng-if="educForm.second_year.$error.required">Please enter Year Graduated</p>
                                                </div>
                                                <h3>UNDER GRAD.</h3>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>School Name:</label>
                                                    <input name="under_schoolname" id="under_schoolname" type="text" class="form-control" ng-model="UserEduc.education.under_grad.schoolname" placeholder="School Name" required>
                                                    <p class="help-block" ng-if="educForm.under_schoolname.$error.required">Please enter School Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Year Graduated:</label>
                                                    <input name="under_year" id="under_year" type="text" class="form-control" ng-model="UserEduc.education.under_grad.year" placeholder="Year Graduated" required>
                                                    <p class="help-block" ng-if="educForm.under_year.$error.required">Please enter Year Graduated</p>
                                                </div>
                                                <h3>POST GRAD.</h3>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>School Name:</label>
                                                    <input name="post_schoolname" id="post_schoolname" type="text" class="form-control" ng-model="UserEduc.education.post_grad.schoolname" placeholder="School Name" required>
                                                    <p class="help-block" ng-if="educForm.post_schoolname.$error.required">Please enter School Name</p>
                                                </div>
                                                <div class="form-group" show-errors='{showSuccess: true}'>
                                                    <label>Year Graduated:</label>
                                                    <input name="post_year" id="post_year" type="text" class="form-control" ng-model="UserEduc.education.post_grad.year" placeholder="Year Graduated" required>
                                                    <p class="help-block" ng-if="educForm.post_year.$error.required">Please enter Year Graduated</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-center">
                                            <div class="col-xs-9">

                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" class="btn btn-success btn-block" ng-click="saveUserEducation()">
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab>
                            <tab-heading>
                                Skills And Specialization
                            </tab-heading>
                            <div class="panel panel-success">
                                <form role="form" name="skillsForm" novalidate>
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Skills And Specialization</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <button ng-click="addSkills();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Skills
                                            </button>
                                        </div>
                                        <div class="form-group" ng-repeat="skill in UserSkills.skills">
                                            <div class="form-group col-md-8">
                                                <textarea row="10" ng-maxlength="2000" ng-model="skill.skill_name" class="form-control" class="form-control" placeholder="Skill" name="skill_name"></textarea>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input ng-model="skill.skill_year_exp" class="form-control" class="form-control" placeholder="Year Experience" name="skill_year_exp" type="number" value="">
                                            </div>
                                            <div class="form-group col-md-1">
                                                <a ng-click="deleteSkills($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row text-center">
                                            <div class="col-xs-9">
                                            </div>
                                            <div class="col-xs-3">
                                                <button type="button" class="btn btn-success btn-block" ng-click="saveUserSkills()">
                                                    Save Changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                Training
                            </tab-heading>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Training</h3>
                                </div>
                                <div class="panel-body">
                                    <form role="form" name="trainingForm" novalidate>
                                        <div class="form-group">
                                            <button ng-click="addTraining();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Training
                                            </button>
                                        </div>
                                        <div class="form-group col-md-12" ng-repeat="trainings in UserTraining.training">
                                            <div class="form-group col-md-4">
                                                <textarea row="10" ng-maxlength="2000" ng-model="trainings.name" class="form-control" class="form-control" placeholder="Skill" name="skill_name"></textarea>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <input type="text" name="trainingdate" id="trainingdate" class="form-control" show-weeks="true" datepicker-popup="yyyy/MM/dd" ng-model="trainings.date" is-open="$parent.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ui-date/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <input ng-model="trainings.trainor" class="form-control" class="form-control" placeholder="Trainor" name="skill_year_exp" type="text" value="">
                                            </div>
                                            <div class="form-group col-md-1">
                                                <a ng-click="deleteTraning($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <div class="row text-center">
                                        <div class="col-xs-9">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-success btn-block" ng-click="saveUserTraining()">
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <tab-heading>
                                Work Experienced
                            </tab-heading>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Work Experienced</h3>
                                </div>
                                <div class="panel-body">
                                    <form role="form" name="workForm" novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button ng-click="addWorkExperienced();" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Work Experienced
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group" ng-repeat="work in UserWork.workExperienced">
                                                    <div class="form-group col-md-5">
                                                        <label>Company Name</label>
                                                        <input ng-model="work.companyName" class="form-control" class="form-control" placeholder="Company Name" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label>Title / Responsibility</label>
                                                        <input ng-model="work.responsibility" class="form-control" class="form-control" placeholder="Title / Responsibility" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label>Location</label>
                                                        <input ng-model="work.location" class="form-control" class="form-control" placeholder="Location" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label>Salary</label>
                                                        <input ng-model="work.salary" class="form-control" class="form-control" placeholder="Salary" type="number" value="">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label>Duration</label>
                                                        <input ng-model="work.duration" class="form-control" class="form-control" placeholder="Duration" type="text" value="">
                                                    </div>
                                                    <div class="form-group col-md-5">
                                                        <label>Description</label>
                                                        <textarea row="10" ng-maxlength="2000" ng-model="work.description" class="form-control" class="form-control" placeholder="Description"></textarea>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <a ng-click="deleteWorkExperienced($index);" style="margin-top: 5px;"><i class="glyphicon glyphicon-remove"></i></a>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer">
                                    <div class="row text-center">
                                        <div class="col-xs-9">
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-success btn-block" ng-click="saveUserWork()">
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
            <pi-sidebar></pi-sidebar>
        </div>
    </div>
    </div>

</section>
<pi-footer class="move-LeftEffects"></pi-footer>
