<div class="main-container">
    <div class="container" id="step1">
        <div class="clearfix">
            <div class="pull-right text-right m-top-20">
                Are you an Applicant?
                <a href="#/join" class="block">Create an account here<i class="fa fa-angle-double-right text-normal font-12 m-left-5"></i></a>
            </div>
        </div>

        <div class="signup-widget">
            <div class="text-center">
                <div class="font-30 font-lato">Recover
                    <span class="font-ultra-bold">My Password</span>
                </div>
                <div class="font-16">Let's get started!</div>

                <p class="m-top-15">We will send you an email containing instructions on how you can retrieve your password. Please enter the login email address associated with your account.</p>
            </div>

            <div class="row m-top-15">
                <form class="form-horizontal autosubmit" data-parsley-validate id="recoverpassword">
                    <input type="hidden" name="cmd" value="recovery_link" />
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group has-icon-alert">
                            <label class="font-normal">Email:
                                <span class="form-check"><i class="fa fa-check text-dark-green"></i>
                                </span>
                            </label>
                            <input type="email" class="form-control" name="email" data-parsley-group="block1" required value="">
                            <strong class="error_recovery" style="color:red"></strong>
                        </div>
                    </div>
                </form>
            </div>

            <div class="m-top-30 text-center">
                <a href="javascript:void(0);" id="sendemail" class="btn btn-lg btn-primary btn-wide autosubmitform">Send Email <i class="fa fa-angle-double-right font-12"></i></a>
            </div>

        </div>
    </div>

    <div class="container paddingTB-lg" id="step2">
        <div class="row">
            <div class="col-sm-7">
                <div class="h4 no-margin">Email Sent Successfully</div>

                <p class="m-top-md">An email has been sent to the email address provided. Please check your spam folder if you do not see it. If you have any final questions or comments, please contact us at
                    <strong>support@mindanaojobs.com</strong>
                    <strong class="error_recovery"></strong>
                </p>

            </div>
        </div>
    </div>

    <div class="container paddingTB-lg" id="step3">
        <div class="row">
            <div class="col-sm-7">
                <div class="h4 no-margin">Update Your Password</div>

                <form class="form-horizontal" id="dopasswordchage" data-parsley-validate>
                    <input type="hidden" name="cmd" value="passwordchange" />
                    <input type="hidden" name="email" value="" />
                    <div class="padding-md">
                        <div class="form-group m-top-md">
                            <label for="newPasswordInput" class="control-label col-sm-3">New Password</label>
                            <div class="col-sm-10 col-md-7">
                                <input type="password" class="form-control" name="newpass" id="newPasswordInput" data-parsley-group="block1" required>
                            </div>
                        </div>

                        <div class="form-group m-top-md">
                            <label for="verifyPasswordInput" class="control-label col-sm-3">Re-type Password</label>
                            <div class="col-sm-10 col-md-7">
                                <input type="password" class="form-control" name="newpass1" id="verifyPasswordInput" data-parsley-group="block1" required>
                                <strong class="error_recovery" style="color:red"></strong>
                            </div>
                        </div>

                        <div class="text-center m-top-lg m-bottom-lg">
                            <button class="btn btn-primary" id="passwordchange" type="button">
                                <!--<i class="fa fa-save m-right-xs"></i>-->Save Changes</button>
                        </div>
                    </div>
                    <!-- ./padding-md -->
                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    checkicon();
    var pwd = "0";
    if (pwd == 1)
        hideall('step3');
    else
        hideall('step1');

    $("input").focus(function() {
        $('.error_recovery').html('');
    });

    $(".autosubmit input").keydown(function(event) {
        if (event.keyCode == 13) {
            $('.autosubmitform').click();
            return false;
        }
    });


    $('#sendemail').on('click', function() {

        if (true === $('#recoverpassword').parsley().validate('block1')) {
            recoverpassword('#recoverpassword');
        }
    });

    $('#passwordchange').on('click', function() {

        if (true === $('#dopasswordchage').parsley().validate('block1')) {
            passwordchange('#dopasswordchage');
        }
    });
});
</script>
