<pi-headerlogin class="move-LeftEffects"></pi-headerlogin>
<section>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-lg-12">
                <div class="row">
                    <h1 class="text-center">Jobseeker Registration</h1>
                    <div class="text-center font-16 m-top-5">Create a
                        <span class="text-dark-green">FREE</span>profile and start applying to jobs in minutes</div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="bodyContent">
                            <div class="quick-application" style="width:100% !important">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <b>Jobseeker Registration</b>
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" name="regForm" novalidate>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="FirstName">First Name:</label>
                                                    <input type="text" class="form-control" id="FirstName" name="FirstName" ng-model="User.FirstName" required placeholder="First Name">
                                                    <p class="help-block" ng-if="regForm.FirstName.$error.required">Please enter your First Name</p>
                                                </div>
                                                <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="LastName">Last Name:</label>
                                                    <input type="text" class="form-control" id="LastName" name="LastName" ng-model="User.LastName" required placeholder="Last Name">
                                                    <p class="help-block" ng-if="regForm.LastName.$error.required">Please enter your Last Name</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group col-md-12" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="email">Email:</label>
                                                    <input type="email" class="form-control" id="email" name="email" ng-model="User.email" required placeholder="Email">
                                                    <p class="help-block" ng-if="regForm.email.$error.required">Please enter an Email Address</p>
                                                    <p class="help-block" ng-if="regForm.email.$error.email">Email address needs to be in the format yourname@domain.com.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="password">Password:</label>
                                                    <input type="password" class="form-control" id="password" name="password" ng-model="User.password" required placeholder="Password" ng-minlength="6" ng-maxlength="10">
                                                    <p class="help-block" ng-if="regForm.password.$error.required">Please enter a Password</p>
                                                    <p ng-show="regForm.password.$error.minlength" class="help-block">Password is too short.</p>
                                                    <p ng-show="regForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                                                </div>
                                                <div class="form-group col-md-6" show-errors='{showSuccess: true}'>
                                                    <label class="control-label" for="confirmpassword">Confirm Password:</label>
                                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" ng-model="User.confirmpassword" required placeholder="Confirm Password" ng-minlength="6" ng-maxlength="10">
                                                    <p class="help-block" ng-if="regForm.confirmpassword.$error.required">Please confirm your Password</p>
                                                    <p ng-show="regForm.confirmpassword.$error.minlength" class="help-block">Confirm Password is too short.</p>
                                                    <p ng-show="regForm.confirmpassword.$error.maxlength" class="help-block">Confirm Password is too long.</p>
                                                </div>
                                                <div class="form-group">
                                                    <center>
                                                        <button ng-click="signUpUser();" type="button" class="btn btn-lg btn-primary">
                                                            Sign Up
                                                            <i class="fa fa-angle-double-right"></i>
                                                        </button>
                                                        <h3 class="omb_authTitle">
                                                            or Register with
                                                        </h3>
                                                        <div class="m-top-20">
                                                            <a href="/auth/facebook">
                                                                <i id="social" class="fa fa-facebook-square fa-5x fa-inverse social-fb"></i>
                                                            </a>
                                                            <a href="/auth/twitter">
                                                                <i id="social" class="fa fa-twitter-square fa-5x fa-inverse social-tw"></i>
                                                            </a>
                                                            <a href="/auth/google">
                                                                <i id="social" class="fa fa-google-plus-square fa-5x fa-inverse social-gp"></i>
                                                            </a>
                                                        </div>
                                                        <div class="m-top-20">By choosing to continue, you agree to the
                                                            <br>Outsource
                                                            <a class="text-blue" href="#/terms">User Agreement</a> and
                                                            <a class="text-blue" href="#/privacy">Privacy Policy</a>
                                                        </div>
                                                    </center>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
<pi-footer class="move-LeftEffects"></pi-footer>
