<div class="main-container no-bottom-space">
    <div class="section section-border-bottom paddingB-40 bg-emerald" id="overviewSection">
        <div class="container">
            <div class="paddingTB-40">
                <div class="row">
                    <div class="col-md-2">
                        <div class="clearfix">
                            <img src="https://outsource_prod_uploads.s3.amazonaws.com/uploads/attachments/profiles/0f76a20eeee4bafdff126096d6fa724b_rounded_142X142.attach?t=1414051372" alt="" class="applicant-profile-pic" style="border-radius:50em">
                        </div>
                    </div>
                    <div class="col-md-6 m-top-20-sm">
                        <div class="font-lato font-30">{{user.FirstName}} {{user.LastName}}</div>
                        <div class="m-top-5 font-semi-bold">Programmer - Web Developer - Mobile Developer</div>
                        <ul class="list-style-icon m-top-40">
                            <li class="m-bottom-15">
                                <div class="list-icon text-center">
                                    <i class="fa fa-money fa-2x"></i>
                                </div>
                                <div class="list-content font-semi-bold">Expected Salary: {{user.desiredSalary}}</div>
                            </li>
                            <li class="m-bottom-15">
                                <div class="list-icon text-center">
                                    <i class="fa fa-map-marker fa-lg"></i>
                                </div>
                                <div class="list-content font-semi-bold ">{{user.address}}</div>
                            </li>
                            <li class="m-bottom-15">
                                <div class="list-icon text-center">
                                    <i class="fa fa-phone fa-lg"></i>
                                </div>
                                <div class="list-content font-semi-bold" ng-repeat="contact in UserProfile.contacts">
                                    {{contact.contact_type}} : {{contact.contact_number}}
                                </div>
                            </li>
                            <li class="m-bottom-15">
                                <div class="list-icon text-center">
                                    <i class="fa fa-envelope fa-lg"></i>
                                </div>
                                <div class="list-content font-semi-bold ">{{user.email}}</div>
                            </li>
                        </ul>
                        <!-- ./list-style-icon -->
                        <div class="paddingTB-40">
                            <div class="font-24">Skills</div>
                            <div class="m-top-25 m-left-20 font-12">
                                <div class="skill-tag skill-sm m-right-10" ng-repeat="skill in UserSkills.skills">{{skill.skill_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-border-bottom paddingB-40" id="experienceSection">
        <div class="container">
            <div class="paddingTB-40">
                <div class="text-center">
                    <span class="font-30">Experience</span>
                    <hr class="star-primary">
                </div>
                <div ng-repeat="work in UserWork.workExperienced">
                    <div class="font-16 font-semi-bold m-top-30">
                        {{work.companyName}} : {{work.responsibility}}</div>
                    <div class="font-italic m-top-5">{{work.location}} : {{work.duration}}</div>
                    <p class="font-16 m-top-5">{{work.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-border-bottom paddingB-40 bg-emerald" id="educationSection">
        <div class="container">
            <div class="paddingTB-40">
                <div class="text-center">
                    <span class="font-30">Education</span>
                    <hr class="star-light">
                </div>

                <div class="font-20 font-ultra-bold m-top-40">
                    ELEMENTARY
                </div>
                <div class="font-16 font-semi-bold m-top-20">
                    {{UserEduc.education.elementary.schoolname}}
                </div>
                <div class="font-italic m-top-5">{{UserEduc.education.elementary.year}}</div>

                <div class="font-20 font-ultra-bold m-top-40">
                    SECONDARY
                </div>
                <div class="font-16 font-semi-bold m-top-20">
                    {{UserEduc.education.secondary.schoolname}}
                </div>
                <div class="font-italic m-top-5">{{UserEduc.education.secondary.year}}</div>

                <div class="font-20 font-ultra-bold m-top-40">
                    UNDER GRADUATE
                </div>
                <div class="font-16 font-semi-bold m-top-20">
                    {{UserEduc.education.under_grad.schoolname}}
                </div>
                <div class="font-italic m-top-5">{{UserEduc.education.under_grad.year}}</div>
                <p class="font-16 m-top-5">Bachelor of Science in Information Technology, Management Information System</p>

                <div class="font-20 font-ultra-bold m-top-40">
                    POST GRADUATE
                </div>
                <div class="font-16 font-semi-bold m-top-20">
                    {{UserEduc.education.post_grad.schoolname}}
                </div>
                <div class="font-italic m-top-5">{{UserEduc.education.post_grad.year}}</div>
                <p class="font-16 m-top-5">Bachelor of Science in Information Technology, Management Information System</p>
            </div>
        </div>
    </div>

    <div class="section section-border-bottom paddingB-40" id="trainingSection">
        <div class="container">
            <div class="paddingTB-40">
                <div class="text-center">
                    <span class="font-30">Trainings and Certifications</span>
                    <hr class="star-primary">
                </div>
                <div ng-repeat="trainings in UserTraining.training">
                    <div class="font-16 font-semi-bold m-top-30">
                        {{trainings.name}}
                    </div>
                    <div class="font-italic m-top-5">DATE: {{trainings.date}}</div>
                    <p class="font-16 m-top-5">TRAINOR: {{trainings.trainor}}</p>
                </div>
            </div>
        </div>
    </div>

</div>
