/*
    FADE IN / OUT EFFECT
    <div ng-view class="fade"></div>
*/

.fade {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}
.fade.ng-enter, .fade.ng-leave {
    /* -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;*/

    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
