@charset "utf-8";
/* CSS Document */
.parsley-errors-list.filled
{
	  margin:5px 5px;
}
.parsley-errors-list
{
  float:left;
  list-style:none;
  padding:0;
  margin:0px 5px;
  clear:both;
  width:100%;
}
.parsley-errors-list li
{
  float:left;
  color:#ff0000;
}
